@charset "UTF-8";
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
* Remove trailing margins from nested lists.
*/
li > ul,
li > ol {
  margin-bottom: 0; }

/**
* Let’s get `<table>`s behaving how we expect.
*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Our Site Breakpoints (same as twitter bootstrap) */
/* Break a component out of the main container it sits in */
/* Breakpoints (These are the same values that bootstrap use) */
/* Just a bit bigger than a mobile */
/* iPads etc */
/* Laptop Screens */
/* Large Desktop Screens */
/* Extra large desktop screens */
/* Extra Extra Large Desktop Screens */
/* Maximum width of our site content */
@font-face {
  font-family: 'silka_monoregular';
  src: url("fonts/silkamono-regular-webfont.eot");
  src: url("fonts/silkamono-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/silkamono-regular-webfont.woff2") format("woff2"), url("fonts/silkamono-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'argesta_displayregular';
  src: url("fonts/argestadisplay-regular-webfont.eot");
  src: url("fonts/argestadisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/argestadisplay-regular-webfont.woff2") format("woff2"), url("fonts/argestadisplay-regular-webfont.woff") format("woff"), url("fonts/argestadisplay-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'argesta_displayregular_italic';
  src: url("fonts/argestadisplay-regularitalic-webfont.eot");
  src: url("fonts/argestadisplay-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/argestadisplay-regularitalic-webfont.woff2") format("woff2"), url("fonts/argestadisplay-regularitalic-webfont.woff") format("woff"), url("fonts/argestadisplay-regularitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
p {
  font-size: 14px;
  line-height: 20px;
  color: #495057;
  margin-bottom: 30px; }
  @media (min-width: 1152px) {
    p {
      font-size: 16px;
      line-height: 22px; } }
  p a {
    color: #495057;
    text-decoration: underline; }
    p a:hover {
      color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 600;
  color: #495057;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px; }
  @media (min-width: 1152px) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 30px;
      line-height: 40px; } }

form {
  padding: 30px 0; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"] {
  display: block;
  width: 100%;
  border-radius: 0;
  border: 1px solid #495057;
  height: 50px;
  padding-left: 10px; }

input[type="file"] {
  width: 100%;
  border: 1px solid #495057;
  padding: 30px;
  background-color: #fff; }

select {
  width: 100%;
  border-radius: 0;
  padding-left: 10px;
  border: 1px solid #495057;
  height: 50px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("images/icons/select-arrow.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: top 50% right 20px; }

textarea {
  width: 100%;
  border-radius: 0;
  padding: 20px;
  border: 1px solid #495057;
  height: 150px;
  font-family: sans-serif;
  resize: none; }

input[type="checkbox"] {
  margin: 0 3px 0 0;
  position: relative;
  top: 1px; }

input[type="radio"] {
  margin: 0 3px 0 0;
  position: relative;
  top: 2px; }

fieldset {
  padding: 20px;
  border: 1px solid #dee2e6; }
  fieldset:not(:last-of-type) {
    margin-bottom: 30px; }

legend {
  padding: 15px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600; }

label {
  display: inline-block;
  position: relative;
  margin-bottom: 10px; }

.is-checkboxes label {
  width: 100%; }
.is-checkboxes p {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #000; }

.is-radio label {
  width: 100%; }
.is-radio input[type="radio"]:not(:first-of-type) {
  margin-left: 5px; }

.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px; }

button[type="submit"] {
  border-radius: 0;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0; }

input[type="submit"] {
  width: 150px;
  height: 50px;
  background-color: #f3722c;
  border-radius: 0;
  font-weight: 600;
  border: 1px solid #f3722c;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease; }
  input[type="submit"]:hover {
    background-color: #495057;
    color: #fff; }

.form-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap; }
  @media (min-width: 576px) {
    .form-row {
      margin-bottom: 20px; } }
  .form-row .row50 {
    width: 100%;
    margin-bottom: 20px; }
    @media (min-width: 576px) {
      .form-row .row50 {
        width: 49%;
        margin-bottom: 0;
        margin-right: 2%; }
        .form-row .row50 + .row50 {
          width: 49%;
          margin-right: 0; } }
  .form-row .row100 {
    width: 100%;
    margin-bottom: 20px; }
    @media (min-width: 576px) {
      .form-row .row100 {
        margin-bottom: 0; } }
  .form-row small {
    display: block; }
    @media (min-width: 576px) {
      .form-row small {
        margin-top: 20px; } }
  .form-row .html-block {
    margin-bottom: 20px; }
    @media (min-width: 576px) {
      .form-row .html-block {
        margin-bottom: 0; } }

.checkbox-inline {
  display: inline-block;
  width: auto;
  color: #495057; }
  .checkbox-inline:not(:first-of-type) {
    margin-left: 20px; }
  .checkbox-inline input {
    margin: 0 5px 0 0; }

.quote-form {
  background-color: #F7F6F2;
  padding: 60px 20px; }
  .quote-form .c-container, .quote-form nav.primary ul:not(.sub-menu), nav.primary .quote-form ul:not(.sub-menu), .quote-form .sub-inner, .quote-form .key-messages ul, .key-messages .quote-form ul, .quote-form .overlay-content {
    width: 90%;
    max-width: 600px;
    margin: 0 auto; }
  .quote-form h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 60px; }
  .quote-form form {
    padding: 0; }
  .quote-form label {
    padding-right: 30px; }
  .quote-form .is-checkboxes {
    margin-top: 5px; }
  .quote-form input[type="checkbox"] {
    margin: 0 7px 10px 0; }
  .quote-form .html-block {
    margin-bottom: 20px; }
  .quote-form .form-row:last-of-type {
    justify-content: center; }

table {
  width: 100%; }

th,
td {
  padding: 15px; }

thead {
  background-color: #495057; }
  thead td {
    color: #fff; }
    thead td:nth-of-type(even) {
      border-left: 1px solid #f8f9fa;
      border-right: 1px solid #f8f9fa; }

tbody tr:nth-of-type(even) {
  background-color: #f8f9fa; }
tbody tr:last-of-type {
  border-bottom: 1px solid #dee2e6; }
tbody td:nth-of-type(1) {
  border-left: 1px solid #dee2e6; }
tbody td:nth-of-type(even) {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6; }
tbody td:last-of-type {
  border-right: 1px solid #dee2e6; }

.btn, .orange-outline, .orange-solid, .white-outline, .white-solid, .page-banner .view-btn {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  padding: 15px 25px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease; }
  @media (min-width: 1152px) {
    .btn, .orange-outline, .orange-solid, .white-outline, .white-solid, .page-banner .view-btn {
      font-size: 14px;
      line-height: 14px; } }
  .btn:hover, .orange-outline:hover, .orange-solid:hover, .white-outline:hover, .white-solid:hover, .page-banner .view-btn:hover {
    text-decoration: none; }

.orange-outline {
  border-color: #f3722c;
  color: #f3722c; }
  .orange-outline:hover {
    background-color: #f3722c;
    color: #fff; }

.orange-solid {
  border-color: #f3722c;
  background-color: #f3722c;
  color: #fff; }
  .orange-solid:hover {
    background-color: transparent;
    color: #f3722c; }
  .orange-solid:visited {
    border-color: #f3722c;
    background-color: #f3722c;
    color: #fff; }
    .orange-solid:visited:hover {
      background-color: #fff;
      color: #f3722c; }

.white-outline {
  border-color: #fff;
  background-color: transparent;
  color: #fff; }
  .white-outline:hover {
    background-color: #fff;
    color: #000; }

.white-solid {
  border-color: #fff;
  background-color: #fff;
  color: #000; }
  .white-solid:hover {
    background-color: #000;
    color: #fff; }

.default {
  color: #000; }

.btn-rounded {
  border-radius: 30px; }

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

nav.primary {
  display: none;
  background-color: #f8f9fa; }
  @media (min-width: 992px) {
    nav.primary {
      display: block; } }
  nav.primary ul:not(.sub-menu) {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding-left: 0;
    z-index: 100; }
  nav.primary li:not(.sub-menu li) {
    display: inline-block;
    position: relative;
    flex: 1; }
    nav.primary li:not(.sub-menu li):not(:first-of-type) {
      border-left: 1px solid #dee2e6; }
    nav.primary li:not(.sub-menu li):hover .sub-menu {
      left: auto; }
  nav.primary .sub-menu {
    position: absolute;
    left: -9999px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9; }
    nav.primary .sub-menu li {
      display: block;
      width: 100%; }
      nav.primary .sub-menu li:not(:last-of-type) {
        border-bottom: 1px solid #ddd; }
      nav.primary .sub-menu li a {
        padding: 15px;
        justify-content: flex-start;
        text-align: left; }
  nav.primary a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    transition: all .3s ease;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #495057;
    font-size: 11px;
    line-height: 11px; }
    @media (min-width: 1366px) {
      nav.primary a {
        font-size: 14px;
        line-height: 14px; } }
    nav.primary a:hover {
      background-color: #495057;
      color: #fff;
      text-decoration: none; }

.submenu {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 100%;
  left: -9999px; }

li.has-children:hover .submenu {
  left: 0; }

.sub-inner {
  border-left: 1px dashed red;
  border-right: 1px dashed red;
  text-align: left;
  height: auto;
  padding: 30px 0; }

.submenu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; }
  .submenu-title p {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    margin: 0; }
  .submenu-title a {
    color: #495057;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: underline; }
    .submenu-title a:hover {
      text-decoration: none; }

ul.menu-collection {
  display: flex;
  width: 100%; }
  ul.menu-collection li {
    display: flex;
    flex-direction: column;
    width: 25%;
    list-style-type: none; }
    ul.menu-collection li:not(:last-of-type) {
      margin-right: 10px; }
    ul.menu-collection li a:not(p a) {
      position: relative; }
      ul.menu-collection li a:not(p a):before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(10, 17, 40, 0);
        transform: scale(1);
        transition: all .6s ease; }
      ul.menu-collection li a:not(p a):hover:before {
        transform: scale(0.95);
        background-color: rgba(10, 17, 40, 0.3); }
  ul.menu-collection p {
    color: #495057;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 18px;
    line-height: 18px; }
    ul.menu-collection p a {
      color: #495057;
      text-decoration: none; }
      ul.menu-collection p a:hover {
        text-decoration: underline; }

html {
  /*! autoprefixer: off */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  /*! autoprefixer: off */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  /*! autoprefixer: off */
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

ul,
ol {
  padding-left: 0; }

li {
  font-size: 14px;
  line-height: 20px;
  color: #495057; }
  @media (min-width: 1152px) {
    li {
      font-size: 16px;
      line-height: 22px; } }

.site-content {
  min-height: 3000px; }

.c-container, nav.primary ul:not(.sub-menu), .sub-inner, .key-messages ul, .overlay-content {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0; }

.site-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #495057;
  z-index: 100;
  border-bottom: 1px dashed red; }

.header-inner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  left: 0; }

.site-logo {
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 20px; }
  @media (min-width: 992px) {
    .site-logo {
      width: auto; } }
  @media (min-width: 1152px) {
    .site-logo {
      width: 20%; } }

.header-actions {
  display: none; }
  @media (min-width: 992px) {
    .header-actions {
      display: block;
      width: auto;
      margin-left: auto;
      text-align: right; } }

.top-links {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .top-links a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #fff !important; }
    @media (min-width: 1152px) {
      .top-links a {
        font-size: 14px;
        line-height: 14px; } }
    @media (min-width: 1366px) {
      .top-links a {
        font-size: 16px;
        line-height: 16px; } }
    .top-links a:not(:first-of-type) {
      margin-left: 20px; }
    .top-links a:before {
      content: "";
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      background-color: #eee;
      background-size: 30px;
      margin-right: 10px; }
    .top-links a:last-of-type {
      background-color: #f3722c;
      padding: 15px 20px; }
      @media (min-width: 1152px) {
        .top-links a:last-of-type {
          padding: 20px 20px; } }
      .top-links a:last-of-type:before {
        display: none; }
    .top-links a:hover {
      text-decoration: none; }
  @media (min-width: 768px) {
    .top-links a[href^="tel:"] {
      pointer-events: none; } }
  .top-links a[href^="tel:"]:before {
    background-image: url("images/icons/call.png"); }
  .top-links .search-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 100%;
    transition: all .3s ease; }
    .top-links .search-toggle img {
      max-width: 20px;
      transition: all .3s ease;
      transform: rotate(0); }
    .top-links .search-toggle:hover img {
      transform: rotate(5deg); }

.header-navigation {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 20px) !important;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 10px; }
  .header-navigation ul:not(.menu-collection) {
    display: flex !important;
    width: auto !important;
    justify-content: flex-end; }
    .header-navigation ul:not(.menu-collection) li:not(.menu-collection li) {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      line-height: 0 !important;
      font-size: 14px !important;
      margin-left: 15px; }
      @media (min-width: 1152px) {
        .header-navigation ul:not(.menu-collection) li:not(.menu-collection li) {
          font-size: 16px !important; } }
    .header-navigation ul:not(.menu-collection) a:not(.submenu-title a):not(.menu-collection a) {
      display: block;
      padding: 10px 5px 20px 5px !important;
      color: #fff;
      font-size: 12px;
      line-height: 12px; }
      @media (min-width: 1152px) {
        .header-navigation ul:not(.menu-collection) a:not(.submenu-title a):not(.menu-collection a) {
          font-size: 14px;
          line-height: 14px; } }
      @media (min-width: 1366px) {
        .header-navigation ul:not(.menu-collection) a:not(.submenu-title a):not(.menu-collection a) {
          font-size: 16px;
          line-height: 16px; } }
  .header-navigation img:not(.menu-collection img) {
    max-width: 20px; }

.mob-actions {
  display: none; }
  @media (max-width: 991px) {
    .mob-actions {
      display: flex;
      width: 100%; } }
  .mob-actions li {
    width: 60%;
    list-style: none;
    background-color: #0a1128; }
    .mob-actions li + li {
      width: 40%;
      background-color: #f3722c;
      text-align: center; }
      .mob-actions li + li a {
        font-weight: 600; }
    .mob-actions li a {
      display: block;
      width: 100%;
      padding: 10px 15px;
      color: #fff; }
      .mob-actions li a:hover {
        text-decoration: none; }
    .mob-actions li a[href^="tel"] {
      display: flex;
      align-items: center; }
      .mob-actions li a[href^="tel"]:before {
        content: "";
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #eee;
        background-size: 30px;
        margin-right: 10px; }

.mob-links {
  display: none; }
  @media (max-width: 991px) {
    .mob-links {
      display: flex;
      margin-left: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-right: 20px; } }
  .mob-links img {
    width: 25px; }
  .mob-links li:last-of-type {
    margin-left: 20px; }
    .mob-links li:last-of-type a {
      display: flex;
      align-items: center; }
    .mob-links li:last-of-type img {
      margin-right: 10px; }
  .mob-links a {
    color: #fff; }

.site-footer {
  background-color: #495057; }

.newsletter {
  background-color: #0a1128;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center; }
  .newsletter h5 {
    color: #fff; }
  .newsletter .newsletter-inner {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .newsletter .newsletter-inner {
        flex-direction: row;
        width: 700px; } }
    @media (min-width: 992px) {
      .newsletter .newsletter-inner {
        width: 800px; } }
  .newsletter form {
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 5px; }
    @media (min-width: 768px) {
      .newsletter form {
        margin-right: 15px;
        margin-bottom: 0;
        width: 70%; } }
    .newsletter form input[type="email"] {
      width: calc(100% - 90px);
      height: 50px;
      border: 0;
      background-color: #fff;
      color: #0a1128;
      font-size: 16px;
      line-height: 16px;
      padding-left: 50px;
      background-image: url("images/email.png");
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: top 50% left 10px;
      outline: none; }
      @media (min-width: 768px) {
        .newsletter form input[type="email"] {
          width: calc(100% - 150px); } }
      .newsletter form input[type="email"]::placeholder {
        color: #0a1128; }
    .newsletter form button[type="submit"] {
      background-color: #f3722c;
      color: #fff;
      border: 0;
      height: 50px;
      width: 90px; }
      @media (min-width: 768px) {
        .newsletter form button[type="submit"] {
          width: 150px; } }
  .newsletter ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    @media (min-width: 768px) {
      .newsletter ul {
        width: 25%;
        justify-content: space-around; } }
    .newsletter ul li {
      list-style-type: none;
      width: 6.6%;
      background-color: transparent;
      border: 1px solid #f3722c;
      color: #f3722c;
      width: 50px;
      height: 50px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px; }
      @media (min-width: 768px) {
        .newsletter ul li {
          margin: 0; } }
      .newsletter ul li a {
        color: #f3722c; }

.footer-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px 20px; }
  @media (min-width: 768px) {
    .footer-inner {
      max-width: 1366px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between; } }
  .footer-inner .footer-col {
    width: 100%;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .footer-inner .footer-col {
        width: 25%; }
        .footer-inner .footer-col:first-of-type {
          width: 35%; }
          .footer-inner .footer-col:first-of-type ul {
            margin-top: 15px;
            display: flex;
            width: 100%; }
          .footer-inner .footer-col:first-of-type li {
            margin-bottom: 0; }
            .footer-inner .footer-col:first-of-type li:not(:last-of-type):after {
              content: "|";
              display: inline-block;
              position: relative;
              margin: 0 5px;
              color: #fff;
              font-size: 14px;
              line-height: 14px; } }
    .footer-inner .footer-col li {
      list-style: none; }
      .footer-inner .footer-col li:not(:last-of-type) {
        margin-bottom: 5px; }
      .footer-inner .footer-col li a:hover {
        color: #f3722c; }
  .footer-inner h6 {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px; }
  .footer-inner p {
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
    line-height: 22px; }
  .footer-inner a {
    color: #fff;
    font-size: 14px;
    line-height: 18px; }
    .footer-inner a:hover {
      color: #f3722c; }
  .footer-inner address {
    position: relative;
    color: #fff;
    font-style: normal;
    margin-bottom: 20px;
    padding-left: 40px; }
    .footer-inner address:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background-color: #eee; }
  .footer-inner a[href^="tel"] {
    display: inline-flex;
    align-items: center;
    position: relative; }
    .footer-inner a[href^="tel"]:before {
      content: "";
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-color: #eee; }
  .footer-inner a[href^="mailto"] {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-top: 20px; }
    .footer-inner a[href^="mailto"]:before {
      content: "";
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-color: #eee; }
  .footer-inner .scrollup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: 1px solid #f3722c;
    border-radius: 100%; }
    @media (min-width: 1152px) {
      .footer-inner .scrollup {
        right: -60px;
        top: calc(50% - 100px);
        bottom: unset; } }
    .footer-inner .scrollup:hover {
      text-decoration: none; }

.key-messages {
  background-color: #F7F6F2;
  padding-top: 15px;
  padding-bottom: 15px; }
  .key-messages ul {
    padding: 0; }
  .key-messages li {
    display: flex !important;
    align-items: center;
    justify-content: center; }
  .key-messages img {
    max-width: 45px;
    margin-right: 10px; }
  .key-messages p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px; }
    @media (min-width: 1152px) {
      .key-messages p {
        font-size: 14px;
        line-height: 18px; } }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 20;
  background: #f8f9fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: #f8f9fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0;
  background-image: url("images/icons/arrow-previous.png"); }
  .slick-prev:hover {
    background-image: url("images/icons/arrow-previous.png"); }
  .slick-prev:focus {
    background-image: url("images/icons/arrow-previous.png"); }

[dir='rtl'] .slick-prev {
  right: 0;
  left: auto; }

.slick-prev:before {
  content: ''; }

[dir='rtl'] .slick-prev:before {
  content: ''; }

.slick-next {
  right: 0;
  background-image: url("images/icons/arrow-next.png"); }
  .slick-next:hover {
    background-image: url("images/icons/arrow-next.png"); }
  .slick-next:focus {
    background-image: url("images/icons/arrow-next.png"); }

[dir='rtl'] .slick-next {
  right: auto;
  left: 0; }

.slick-next:before {
  content: ''; }

[dir='rtl'] .slick-next:before {
  content: ''; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -50px;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  content: '•';
  text-align: center;
  opacity: .5;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .90; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #F7F6F2;
  transition: all .3s ease;
  z-index: -500; }
  .search-container.search-active {
    opacity: 1;
    z-index: 500; }
  .search-container p {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700; }
    .search-container p ~ p {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px; }
      .search-container p ~ p a {
        text-decoration: underline; }
        .search-container p ~ p a:hover {
          text-decoration: none; }
  .search-container form {
    display: flex;
    width: 90%; }
    @media (min-width: 768px) {
      .search-container form {
        width: 700px; } }
    .search-container form input {
      height: 70px;
      width: calc(100% - 90px);
      padding-left: 15px;
      font-size: 18px; }
      @media (min-width: 768px) {
        .search-container form input {
          width: calc(100% - 150px); } }
      .search-container form input::placeholder {
        color: #495057; }
    .search-container form button[type="submit"] {
      width: 90px;
      background-color: #495057;
      border: 1px solid #495057;
      border-left: 0;
      color: #fff;
      font-weight: 600;
      transition: all .3s ease; }
      @media (min-width: 768px) {
        .search-container form button[type="submit"] {
          width: 150px; } }
      @media (min-width: 1152px) {
        .search-container form button[type="submit"] {
          font-size: 18px; } }
      .search-container form button[type="submit"]:hover {
        background-color: #262a2d; }

.close-search {
  position: absolute;
  top: 30px;
  right: 30px;
  max-width: 30px; }

body.search-activated {
  height: 100vh;
  overflow: hidden; }

.hero {
  position: relative;
  width: 100%; }
  .hero picture,
  .hero img {
    width: 100%; }

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 17, 40, 0.4); }

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%; }
  .overlay-content p {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 300; }
    @media (min-width: 1152px) {
      .overlay-content p {
        font-size: 24px;
        line-height: 24px; } }
  .overlay-content h1 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    color: #fff;
    text-transform: capitalize; }
    @media (min-width: 1152px) {
      .overlay-content h1 {
        font-size: 50px;
        line-height: 60px; } }
    @media (max-width: 767px) {
      .overlay-content h1 br {
        display: none; } }
  .overlay-content .orange-solid:hover {
    background-color: #fff;
    border-color: #fff; }

.textblock {
  padding: 60px 20px;
  text-align: center; }
  .textblock h1 {
    width: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      .textblock h1 {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto; } }
  .textblock p {
    width: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      .textblock p {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto; } }
    .textblock p:last-of-type {
      margin-bottom: 0; }
  .textblock:has(.textblock-btns) p:last-of-type {
    margin-bottom: 30px; }

.textblock-btns a {
  min-width: 150px; }
  .textblock-btns a:not(:first-of-type) {
    margin-left: 10px; }

.slider {
  position: relative; }
  .slider li {
    position: relative; }

.slider-content {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  @media (min-width: 768px) {
    .slider-content {
      width: 80%;
      margin-left: 10%; } }

.content-box {
  background-color: #0a1128;
  padding: 30px 30px 30px 30px;
  width: 100%; }
  @media (min-width: 768px) {
    .content-box {
      padding: 30px 30px 50px 30px;
      width: 500px;
      background-color: rgba(10, 17, 40, 0.7); } }
  .content-box p {
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 26px; }

.slide-title {
  position: relative;
  color: #fff;
  margin-bottom: 5px; }

.slider-nav {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 30px;
  right: 20px;
  width: 130px; }
  @media (min-width: 768px) {
    .slider-nav {
      right: calc(10% + 20px); } }
  .slider-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 40px;
    height: 40px; }
    @media (min-width: 1152px) {
      .slider-nav a {
        width: 60px;
        height: 60px; } }
    .slider-nav a + a {
      margin-left: 10px; }
  .slider-nav img {
    max-width: 20px; }

.texblock-2col {
  padding: 60px 20px; }
  .body-home .texblock-2col {
    padding-bottom: 0; }
  .texblock-2col .c-container, .texblock-2col nav.primary ul:not(.sub-menu), nav.primary .texblock-2col ul:not(.sub-menu), .texblock-2col .sub-inner, .texblock-2col .key-messages ul, .key-messages .texblock-2col ul, .texblock-2col .overlay-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; }
    @media (min-width: 768px) {
      .texblock-2col .c-container, .texblock-2col nav.primary ul:not(.sub-menu), nav.primary .texblock-2col ul:not(.sub-menu), .texblock-2col .sub-inner, .texblock-2col .key-messages ul, .key-messages .texblock-2col ul, .texblock-2col .overlay-content {
        flex-direction: row; } }
  .texblock-2col .col-1 {
    width: 100%;
    padding-bottom: 60px; }
    @media (min-width: 768px) {
      .texblock-2col .col-1 {
        padding-bottom: 0;
        width: 50%; } }
    @media (min-width: 992px) {
      .texblock-2col .col-1 {
        width: 40%; } }
    @media (max-width: 767px) {
      .texblock-2col .col-1 br {
        display: none; } }
  .texblock-2col .col-2 {
    width: 100%; }
    @media (min-width: 768px) {
      .texblock-2col .col-2 {
        width: 50%; } }
    @media (min-width: 992px) {
      .texblock-2col .col-2 {
        width: 60%; } }
    .texblock-2col .col-2 p:last-of-type {
      margin-bottom: 0; }

.collections {
  padding: 60px 20px calc(60px - 2%) 20px; }
  .body-category .collections {
    padding-top: 0; }
  .body-subcategory .collections, .body-casestudies .collections {
    padding-top: 0; }
    @media (min-width: 768px) {
      .body-subcategory .collections li, .body-casestudies .collections li {
        width: 32%; }
        .body-subcategory .collections li:nth-of-type(2n), .body-casestudies .collections li:nth-of-type(2n) {
          margin-right: 2%; }
        .body-subcategory .collections li:nth-of-type(3n), .body-casestudies .collections li:nth-of-type(3n) {
          margin-right: 0; } }
  .body-casestudies .collections {
    border-bottom: 1px solid #f3722c; }
  .collections ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; }
    @media (min-width: 576px) {
      .collections ul {
        flex-direction: row;
        flex-wrap: wrap; } }
  .collections li {
    width: 100%;
    position: relative;
    list-style: none;
    margin-bottom: 10px; }
    @media (min-width: 576px) {
      .collections li {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%; }
        .collections li:nth-of-type(2n) {
          margin-right: 0; } }
    .collections li h4:not(.collection-overlay h4) {
      position: absolute;
      bottom: 30px;
      left: 30px;
      margin-bottom: 0;
      color: #fff;
      transition: all .3s ease;
      opacity: 1;
      z-index: 5; }
    .collections li:hover h4:not(.collection-overlay h4) {
      opacity: 0; }
    .collections li:hover .collection-overlay h4, .collections li:hover .collection-overlay a {
      opacity: 1; }

.collection-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 100%;
  height: 100%;
  background: #0a1128;
  background: linear-gradient(0deg, rgba(10, 17, 40, 0.95424) 0%, rgba(10, 17, 40, 0) 100%);
  transition: all .3s ease; }
  .collection-overlay h4, .collection-overlay a {
    opacity: 0;
    transition: all .3s ease;
    color: #fff; }
  .collection-overlay h4 {
    margin-bottom: 5px; }
  .collection-overlay a {
    display: block;
    position: relative;
    z-index: 10;
    text-decoration: underline;
    font-weight: 600; }
    .collection-overlay a:hover {
      text-decoration: none; }

.textimage-col.light-theme {
  background-color: #F7F6F2;
  padding: 60px 20px 30px 20px; }
  @media (min-width: 768px) {
    .textimage-col.light-theme {
      padding: 60px 20px; } }
.textimage-col.default-theme {
  background-color: #fff;
  padding: 60px 20px 30px 20px; }
  @media (min-width: 768px) {
    .textimage-col.default-theme {
      padding: 60px 20px; } }
.textimage-col .c-container, .textimage-col nav.primary ul:not(.sub-menu), nav.primary .textimage-col ul:not(.sub-menu), .textimage-col .sub-inner, .textimage-col .key-messages ul, .key-messages .textimage-col ul, .textimage-col .overlay-content {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 768px) {
    .textimage-col .c-container, .textimage-col nav.primary ul:not(.sub-menu), nav.primary .textimage-col ul:not(.sub-menu), .textimage-col .sub-inner, .textimage-col .key-messages ul, .key-messages .textimage-col ul, .textimage-col .overlay-content {
      flex-direction: row; } }
@media (min-width: 768px) {
  .textimage-col.is-reversed .c-container, .textimage-col.is-reversed nav.primary ul:not(.sub-menu), nav.primary .textimage-col.is-reversed ul:not(.sub-menu), .textimage-col.is-reversed .sub-inner, .textimage-col.is-reversed .key-messages ul, .key-messages .textimage-col.is-reversed ul, .textimage-col.is-reversed .overlay-content {
    flex-direction: row-reverse; } }
@media (min-width: 768px) {
  .textimage-col.is-reversed .text-col {
    padding-left: 0; } }
.textimage-col p.subheading {
  text-transform: uppercase;
  margin-bottom: 5px; }
.textimage-col .image-col,
.textimage-col .video-col {
  width: 100%; }
  @media (min-width: 768px) {
    .textimage-col .image-col,
    .textimage-col .video-col {
      width: 50%; } }
  .textimage-col .image-col img,
  .textimage-col .video-col img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.textimage-col .video-col {
  position: relative; }
  .textimage-col .video-col a {
    display: block;
    position: relative;
    height: 100%; }
    .textimage-col .video-col a:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      transition: all .3s ease;
      z-index: 3; }
    .textimage-col .video-col a:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all .3s ease;
      background-color: rgba(10, 17, 40, 0.5);
      background-image: url("images/play.png");
      background-repeat: no-repeat;
      background-size: 80px;
      background-position: center; }
    .textimage-col .video-col a:hover:before {
      width: 97%;
      height: 95%;
      top: 2.5%;
      left: 1.5%;
      border: 1px solid #f3722c; }
    .textimage-col .video-col a:hover:after {
      background-size: 70px; }
  .textimage-col .video-col img {
    height: 100%;
    object-fit: cover; }
.textimage-col .text-col {
  width: 100%;
  padding: 30px; }
  @media (min-width: 768px) {
    .textimage-col .text-col {
      width: 50%;
      padding: 60px; } }
  @media (max-width: 767px) {
    .textimage-col .text-col h4 br {
      display: none; } }

.collection-grid {
  padding: 10px; }
  .collection-grid .c-container, .collection-grid nav.primary ul:not(.sub-menu), nav.primary .collection-grid ul:not(.sub-menu), .collection-grid .sub-inner, .collection-grid .key-messages ul, .key-messages .collection-grid ul, .collection-grid .overlay-content {
    display: flex;
    flex-direction: column;
    width: 100%; }
    @media (min-width: 768px) {
      .collection-grid .c-container, .collection-grid nav.primary ul:not(.sub-menu), nav.primary .collection-grid ul:not(.sub-menu), .collection-grid .sub-inner, .collection-grid .key-messages ul, .key-messages .collection-grid ul, .collection-grid .overlay-content {
        flex-direction: row; } }
  .collection-grid .col-large {
    width: 100%;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .collection-grid .col-large {
        width: 70%;
        margin-bottom: 0; } }
    .collection-grid .col-large img:not(.slider-nav img) {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .collection-grid .col-large .slider-nav {
      right: 20px;
      bottom: 30px; }
  .collection-grid .col-slim {
    width: 100%; }
    @media (min-width: 768px) {
      .collection-grid .col-slim {
        width: 30%;
        margin-left: 10px; } }
    @media (min-width: 768px) {
      .collection-grid .col-slim ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%; } }
    .collection-grid .col-slim li {
      height: 100%;
      position: relative;
      list-style-type: none; }
      .collection-grid .col-slim li:not(:last-of-type) {
        margin-bottom: 10px; }
      .collection-grid .col-slim li h4:not(.collection-overlay h4) {
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin-bottom: 0;
        color: #fff;
        transition: all .3s ease;
        opacity: 1;
        z-index: 5;
        font-size: 22px;
        line-height: 28px; }
      .collection-grid .col-slim li:hover h4:not(.collection-overlay h4) {
        opacity: 0; }
      .collection-grid .col-slim li:hover .collection-overlay h4, .collection-grid .col-slim li:hover .collection-overlay a {
        opacity: 1; }
    .collection-grid .col-slim img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .collection-grid .col-slim .collection-overlay {
      padding-bottom: 20px;
      padding-left: 20px; }
      .collection-grid .col-slim .collection-overlay h4 {
        font-size: 22px;
        line-height: 28px; }

.information-callout {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center; }
  .information-callout:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 17, 40, 0.5); }
  .information-callout .callout-heading,
  .information-callout p,
  .information-callout a {
    position: relative;
    color: #fff; }
  .information-callout a + a {
    margin-left: 20px; }

.installs-grid {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 60px; }
  @media (min-width: 768px) {
    .installs-grid {
      flex-direction: row;
      flex-wrap: wrap; } }
  .installs-grid h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px; }
  .installs-grid .single-image {
    width: 100%; }
    @media (min-width: 768px) {
      .installs-grid .single-image {
        width: 49.4%; } }
    .installs-grid .single-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .installs-grid .multiple-images {
    width: 100%; }
    @media (min-width: 768px) {
      .installs-grid .multiple-images {
        display: flex;
        flex-flow: row wrap;
        width: 50%;
        margin-right: 10px;
        height: 100%; } }
    .installs-grid .multiple-images li {
      width: 100%;
      height: 100%;
      list-style: none;
      position: relative;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        .installs-grid .multiple-images li {
          width: 49.5%;
          margin-right: 1%;
          margin-bottom: 1%; }
          .installs-grid .multiple-images li:nth-of-type(2n) {
            margin-right: 0; }
          .installs-grid .multiple-images li:last-child {
            margin-bottom: 0; }
          .installs-grid .multiple-images li:nth-last-child(2) {
            margin-bottom: 0; } }
      .installs-grid .multiple-images li a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(10, 17, 40, 0);
        background-image: url("images/enlarge.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        transition: all .3s ease; }
      .installs-grid .multiple-images li:hover a {
        opacity: 1;
        background-color: rgba(10, 17, 40, 0.7); }
    .installs-grid .multiple-images img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.install-btn {
  text-align: center;
  width: 100%;
  padding: 60px 20px 20px 20px; }
  @media (min-width: 768px) {
    .install-btn {
      padding: 20px 20px 20px 20px; } }

.instagram {
  padding: 60px 20px calc(60px - 1%) 20px; }
  .instagram h4 {
    width: 100%;
    margin-bottom: 60px;
    text-align: center; }
  .instagram ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%; }
  .instagram li {
    width: 49.5%;
    list-style: none;
    margin-right: 1%;
    margin-bottom: 1%; }
    .instagram li:nth-of-type(2n) {
      margin-right: 0; }
    @media (min-width: 768px) {
      .instagram li {
        width: 19.2%; }
        .instagram li:nth-of-type(2n) {
          margin-right: 1%; }
        .instagram li:nth-of-type(5n) {
          margin-right: 0; } }
  .instagram .orange-solid {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    display: block;
    margin-top: 30px; }

.page-banner {
  position: relative;
  width: 100%; }
  .page-banner picture,
  .page-banner img {
    width: 100%; }
  .page-banner .view-btn {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    padding-right: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-image: url("images/plus-black.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: top 50% right 15px;
    transition: all .3s ease; }
    .page-banner .view-btn:hover {
      background-color: #f3722c;
      border: 1px solid #f3722c;
      color: #fff;
      background-image: url("images/plus-white.png"); }
    @media (min-width: 1152px) {
      .page-banner .view-btn {
        bottom: 60px;
        right: 60px; } }

.gallery-slider {
  border-top: 1px solid #f3722c;
  border-bottom: 1px solid #f3722c;
  padding-top: 60px;
  padding-bottom: 60px; }
  .gallery-slider h3 {
    margin: 0;
    padding-bottom: 60px;
    width: 100%;
    text-align: center; }
  .gallery-slider img {
    width: 100%; }
  .gallery-slider li {
    list-style: none; }
  .gallery-slider ul.thumbnails {
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 60px; }
    .gallery-slider ul.thumbnails li {
      margin: 0 5px;
      cursor: pointer; }
  .gallery-slider .slick-prev {
    background-image: url("images/dark-arrow2.png");
    background-size: 25px;
    background-color: transparent; }
  .gallery-slider .slick-next {
    background-image: url("images/dark-arrow.png");
    background-size: 25px;
    background-color: transparent; }

.image-slider {
  padding: 60px;
  background-color: #F7F6F2; }
  .image-slider img {
    width: 100%; }
  .image-slider li {
    list-style: none; }
  .image-slider .slick-prev {
    background-color: #495057;
    background-image: url("images/white-arrow2.png");
    background-size: 25px;
    left: -50px; }
    @media (min-width: 768px) {
      .image-slider .slick-prev {
        left: 30px; } }
  .image-slider .slick-next {
    background-color: #495057;
    background-image: url("images/white-arrow.png");
    background-size: 25px;
    right: -50px; }
    @media (min-width: 768px) {
      .image-slider .slick-next {
        right: 30px; } }

.video-container {
  padding: 60px;
  background-color: #fff; }
  .video-container img {
    width: 100%; }
  .video-container a {
    display: block;
    position: relative;
    height: 100%; }
    .video-container a:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all .3s ease;
      background-color: rgba(10, 17, 40, 0.5);
      background-image: url("images/play.png");
      background-repeat: no-repeat;
      background-size: 80px;
      background-position: center; }

.nextsteps {
  padding: 60px 20px;
  background-color: #F7F6F2; }
  .nextsteps h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 60px; }
  .nextsteps ul {
    display: flex;
    flex-direction: column;
    width: 100%; }
    @media (min-width: 576px) {
      .nextsteps ul {
        flex-direction: row;
        flex-wrap: wrap; } }
  .nextsteps li {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    margin-bottom: 20px; }
    @media (min-width: 576px) {
      .nextsteps li {
        width: 48%;
        margin-right: 4%; }
        .nextsteps li:nth-of-type(2n) {
          margin-right: 0; } }
    @media (min-width: 768px) {
      .nextsteps li {
        flex-direction: row; } }
  .nextsteps .video-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .nextsteps .video-col {
        width: 40%; } }
    .nextsteps .video-col img {
      width: 200px;
      height: 200px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 100%; }
    .nextsteps .video-col a {
      display: block;
      position: relative;
      height: auto;
      margin-bottom: 20px; }
      .nextsteps .video-col a:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transition: all .2s ease;
        background-color: rgba(10, 17, 40, 0.5);
        background-image: url("images/play.png");
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: center; }
      .nextsteps .video-col a:hover:after {
        background-size: 35px; }
    .nextsteps .video-col p {
      color: #000;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      margin: 0; }
  .nextsteps .text-col {
    width: 100%;
    padding-top: 30px;
    text-align: center; }
    @media (min-width: 768px) {
      .nextsteps .text-col {
        width: 60%;
        padding: 0 0 0 30px;
        text-align: left; } }

.process-text {
  background-color: #F7F6F2;
  padding: 60px 20px; }
  .process-text .c-container, .process-text nav.primary ul:not(.sub-menu), nav.primary .process-text ul:not(.sub-menu), .process-text .sub-inner, .process-text .key-messages ul, .key-messages .process-text ul, .process-text .overlay-content {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .process-text .c-container, .process-text nav.primary ul:not(.sub-menu), nav.primary .process-text ul:not(.sub-menu), .process-text .sub-inner, .process-text .key-messages ul, .key-messages .process-text ul, .process-text .overlay-content {
        flex-direction: row; } }
  .process-text .textcol {
    width: 100%; }
    @media (min-width: 768px) {
      .process-text .textcol {
        width: 50%;
        padding-right: 60px; }
        .process-text .textcol + .textcol {
          padding-left: 60px; } }

.installs {
  padding-bottom: 15px;
  border-bottom: 1px solid #f3722c; }
  .installs ul {
    width: 100%; }
    @media (min-width: 768px) {
      .installs ul {
        display: flex;
        flex-flow: row wrap; } }
    .installs ul li {
      width: 100%;
      height: 100%;
      list-style: none;
      position: relative;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        .installs ul li {
          width: 32%;
          margin-right: 1%;
          margin-bottom: 1%; }
          .installs ul li:nth-of-type(3n) {
            margin-right: 0; } }
      .installs ul li a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(10, 17, 40, 0);
        background-image: url("images/enlarge.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        transition: all .3s ease; }
      .installs ul li:hover a {
        opacity: 1;
        background-color: rgba(10, 17, 40, 0.7); }
    .installs ul img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

/*# sourceMappingURL=style.css.map */
