@charset "UTF-8";
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
* Remove trailing margins from nested lists.
*/
li > ul,
li > ol {
  margin-bottom: 0; }

/**
* Let’s get `<table>`s behaving how we expect.
*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Our Site Breakpoints (same as twitter bootstrap) */
/* Break a component out of the main container it sits in */
/* Breakpoints (These are the same values that bootstrap use) */
/* Just a bit bigger than a mobile */
/* iPads etc */
/* Laptop Screens */
/* Large Desktop Screens */
/* Extra large desktop screens */
/* Extra Extra Large Desktop Screens */
/* Maximum width of our site content */
@font-face {
  font-family: 'silka_monoregular';
  src: url("fonts/silkamono-regular-webfont.eot");
  src: url("fonts/silkamono-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/silkamono-regular-webfont.woff2") format("woff2"), url("fonts/silkamono-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'argesta_displayregular';
  src: url("fonts/argestadisplay-regular-webfont.eot");
  src: url("fonts/argestadisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/argestadisplay-regular-webfont.woff2") format("woff2"), url("fonts/argestadisplay-regular-webfont.woff") format("woff"), url("fonts/argestadisplay-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'argesta_displayregular_italic';
  src: url("fonts/argestadisplay-regularitalic-webfont.eot");
  src: url("fonts/argestadisplay-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/argestadisplay-regularitalic-webfont.woff2") format("woff2"), url("fonts/argestadisplay-regularitalic-webfont.woff") format("woff"), url("fonts/argestadisplay-regularitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
p {
  font-size: 14px;
  line-height: 20px;
  color: #495057;
  margin-bottom: 30px; }
  @media (min-width: 1152px) {
    p {
      font-size: 16px;
      line-height: 22px; } }
  p a {
    color: #495057;
    text-decoration: underline; }
    p a:hover {
      color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 600;
  color: #495057;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px; }
  @media (min-width: 1152px) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 30px;
      line-height: 40px; } }

form {
  padding: 30px 0; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"] {
  display: block;
  width: 100%;
  border-radius: 0;
  border: 1px solid #495057;
  height: 50px;
  padding-left: 10px; }

select {
  width: 100%;
  border-radius: 0;
  padding-left: 10px;
  border: 1px solid #495057;
  height: 50px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("images/icons/select-arrow.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: top 50% right 20px; }

textarea {
  width: 100%;
  border-radius: 0;
  padding: 20px;
  border: 1px solid #495057;
  height: 150px;
  font-family: sans-serif;
  resize: none; }

input[type="checkbox"] {
  margin: 0 3px 0 0;
  position: relative;
  top: 2px; }

input[type="radio"] {
  margin: 0 3px 0 0;
  position: relative;
  top: 2px; }

fieldset {
  padding: 20px;
  border: 1px solid #dee2e6; }
  fieldset:not(:last-of-type) {
    margin-bottom: 30px; }

legend {
  padding: 15px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600; }

label {
  display: inline-block;
  position: relative;
  margin-bottom: 5px; }

.field {
  margin-bottom: 15px; }

.is-checkboxes label {
  width: 100%; }
.is-checkboxes input[type="checkbox"]:not(:first-of-type) {
  margin-left: 5px; }

.is-radio label {
  width: 100%; }
.is-radio input[type="radio"]:not(:first-of-type) {
  margin-left: 5px; }

.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px; }

button[type="submit"] {
  border-radius: 0;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0; }

input[type="submit"] {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #495057;
  color: #495057;
  cursor: pointer;
  transition: all .3s ease; }
  input[type="submit"]:hover {
    background-color: #495057;
    color: #fff; }

table {
  width: 100%; }

th,
td {
  padding: 15px; }

thead {
  background-color: #495057; }
  thead td {
    color: #fff; }
    thead td:nth-of-type(even) {
      border-left: 1px solid #f8f9fa;
      border-right: 1px solid #f8f9fa; }

tbody tr:nth-of-type(even) {
  background-color: #f8f9fa; }
tbody tr:last-of-type {
  border-bottom: 1px solid #dee2e6; }
tbody td:nth-of-type(1) {
  border-left: 1px solid #dee2e6; }
tbody td:nth-of-type(even) {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6; }
tbody td:last-of-type {
  border-right: 1px solid #dee2e6; }

.btn, .orange-outline, .orange-solid, .white-outline, .white-solid {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  padding: 15px 25px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease; }
  .btn:hover, .orange-outline:hover, .orange-solid:hover, .white-outline:hover, .white-solid:hover {
    text-decoration: none; }

.orange-outline {
  border-color: #f3722c;
  color: #f3722c; }
  .orange-outline:hover {
    background-color: #f3722c;
    color: #fff; }

.orange-solid {
  border-color: #f3722c;
  background-color: #f3722c;
  color: #fff; }
  .orange-solid:hover {
    background-color: #fff;
    color: #f3722c; }
  .orange-solid:visited {
    border-color: #f3722c;
    background-color: #f3722c;
    color: #fff; }
    .orange-solid:visited:hover {
      background-color: #fff;
      color: #f3722c; }

.white-outline {
  border-color: #fff;
  background-color: transparent;
  color: #fff; }
  .white-outline:hover {
    background-color: #fff;
    color: #000; }

.white-solid {
  border-color: #fff;
  background-color: #fff;
  color: #000; }
  .white-solid:hover {
    background-color: #000;
    color: #fff; }

.default {
  color: #000; }

.btn-rounded {
  border-radius: 30px; }

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

nav.primary {
  display: none;
  background-color: #f8f9fa; }
  @media (min-width: 992px) {
    nav.primary {
      display: block; } }
  nav.primary ul:not(.sub-menu) {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding-left: 0;
    z-index: 100; }
  nav.primary li:not(.sub-menu li) {
    display: inline-block;
    position: relative;
    flex: 1; }
    nav.primary li:not(.sub-menu li):not(:first-of-type) {
      border-left: 1px solid #dee2e6; }
    nav.primary li:not(.sub-menu li):hover .sub-menu {
      left: auto; }
  nav.primary .sub-menu {
    position: absolute;
    left: -9999px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9; }
    nav.primary .sub-menu li {
      display: block;
      width: 100%; }
      nav.primary .sub-menu li:not(:last-of-type) {
        border-bottom: 1px solid #ddd; }
      nav.primary .sub-menu li a {
        padding: 15px;
        justify-content: flex-start;
        text-align: left; }
  nav.primary a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    transition: all .3s ease;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #495057;
    font-size: 11px;
    line-height: 11px; }
    @media (min-width: 1366px) {
      nav.primary a {
        font-size: 14px;
        line-height: 14px; } }
    nav.primary a:hover {
      background-color: #495057;
      color: #fff;
      text-decoration: none; }

nav.mega-menu {
  display: none;
  position: relative;
  background-color: #f8f9fa;
  z-index: 200; }
  @media (min-width: 992px) {
    nav.mega-menu {
      display: block; } }
  nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) {
    display: flex;
    position: relative;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    justify-content: space-evenly; }
    nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li {
      transition: all .3s ease; }
      nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li:not(.submenu li) {
        flex: 1;
        list-style-type: none;
        background-color: #f8f9fa;
        text-align: center; }
        nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li:not(.submenu li) a:not(.submenu a) {
          display: block;
          transition: all .3s ease;
          padding: 15px 0;
          border-top: 1px solid #f8f9fa;
          border-left: 1px solid #f8f9fa;
          border-right: 1px solid #f8f9fa;
          color: #000;
          font-family: "argesta_displayregular", "serif"; }
          nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li:not(.submenu li) a:not(.submenu a):hover {
            text-decoration: none;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd; }
        nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li:not(.submenu li):hover a:not(.submenu a) {
          background-color: #fff;
          position: relative; }
          nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li:not(.submenu li):hover a:not(.submenu a):after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #fff;
            z-index: 10; }
  nav.mega-menu ul .has-children:hover .submenu {
    left: auto;
    opacity: 1; }

.submenu {
  display: flex;
  opacity: 0;
  transition: all .3s ease;
  flex-wrap: wrap;
  position: absolute;
  left: -9999px;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px 0;
  width: 100%; }
  .submenu ul {
    padding: 10px 30px 0 30px;
    flex: 1; }
    .submenu ul li {
      list-style: none; }
      .submenu ul li ul {
        padding: 0;
        margin-bottom: 20px; }
        .submenu ul li ul li {
          padding: 2px 0;
          text-align: left; }
          .submenu ul li ul li:first-of-type {
            font-weight: 600;
            padding: 5px 0;
            color: #000; }
          .submenu ul li ul li a {
            font-family: sans-serif;
            padding: 0;
            color: #000;
            font-size: 13px;
            line-height: 13px; }
          .submenu ul li ul li img {
            width: 100%; }

html {
  /*! autoprefixer: off */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  /*! autoprefixer: off */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  /*! autoprefixer: off */
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

ul,
ol {
  padding-left: 0; }

li {
  font-size: 14px;
  line-height: 20px;
  color: #495057; }
  @media (min-width: 1152px) {
    li {
      font-size: 16px;
      line-height: 22px; } }

.site-content {
  min-height: 3000px; }

.c-container, nav.primary ul:not(.sub-menu), .key-messages ul, .overlay-content {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0; }

.site-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #495057;
  z-index: 100;
  border-bottom: 1px dashed red; }
  @media (min-width: 992px) {
    .site-header {
      padding-bottom: 10px; } }

.header-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  left: 0; }

.site-logo {
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 20px; }
  @media (min-width: 992px) {
    .site-logo {
      width: auto; } }
  @media (min-width: 1152px) {
    .site-logo {
      width: 20%; } }

.header-actions {
  display: none; }
  @media (min-width: 992px) {
    .header-actions {
      display: block;
      width: auto;
      margin-left: auto;
      text-align: right; } }

.top-links {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .top-links a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #fff !important; }
    @media (min-width: 1152px) {
      .top-links a {
        font-size: 14px;
        line-height: 14px; } }
    @media (min-width: 1366px) {
      .top-links a {
        font-size: 16px;
        line-height: 16px; } }
    .top-links a:not(:first-of-type) {
      margin-left: 20px; }
    .top-links a:before {
      content: "";
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      background-color: #eee;
      background-size: 30px;
      margin-right: 10px; }
    .top-links a:last-of-type {
      background-color: #f3722c;
      padding: 15px 20px; }
      @media (min-width: 1152px) {
        .top-links a:last-of-type {
          padding: 20px 20px; } }
      .top-links a:last-of-type:before {
        display: none; }
    .top-links a:hover {
      text-decoration: none; }
  @media (min-width: 768px) {
    .top-links a[href^="tel:"] {
      pointer-events: none; } }
  .top-links a[href^="tel:"]:before {
    background-image: url("images/icons/call.png"); }
  .top-links .search-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 100%;
    transition: all .3s ease; }
    .top-links .search-toggle img {
      max-width: 20px;
      transition: all .3s ease;
      transform: rotate(0); }
    .top-links .search-toggle:hover img {
      transform: rotate(5deg); }

.header-navigation {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 20px) !important;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 10px; }
  .header-navigation ul {
    display: flex !important;
    width: auto !important;
    justify-content: flex-end; }
    .header-navigation ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      line-height: 0 !important;
      font-size: 14px !important;
      margin-left: 15px; }
      @media (min-width: 1152px) {
        .header-navigation ul li {
          font-size: 16px !important; } }
    .header-navigation ul a {
      display: block;
      padding: 10px 5px !important;
      color: #fff;
      font-size: 12px;
      line-height: 12px; }
      @media (min-width: 1152px) {
        .header-navigation ul a {
          font-size: 14px;
          line-height: 14px; } }
      @media (min-width: 1366px) {
        .header-navigation ul a {
          font-size: 16px;
          line-height: 16px; } }
  .header-navigation img {
    max-width: 20px; }

.mob-actions {
  display: none; }
  @media (max-width: 991px) {
    .mob-actions {
      display: flex;
      width: 100%; } }
  .mob-actions li {
    width: 70%;
    list-style: none;
    background-color: #0a1128; }
    .mob-actions li + li {
      width: 30%;
      background-color: #f3722c;
      text-align: center; }
      .mob-actions li + li a {
        font-weight: 600; }
    .mob-actions li a {
      display: block;
      width: 100%;
      padding: 10px 15px;
      color: #fff; }
      .mob-actions li a:hover {
        text-decoration: none; }
    .mob-actions li a[href^="tel"] {
      display: flex;
      align-items: center; }
      .mob-actions li a[href^="tel"]:before {
        content: "";
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #eee;
        background-size: 30px;
        margin-right: 10px; }

.mob-links {
  display: none; }
  @media (max-width: 991px) {
    .mob-links {
      display: flex;
      margin-left: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-right: 20px; } }
  .mob-links img {
    width: 25px; }
  .mob-links li:last-of-type {
    margin-left: 20px; }
    .mob-links li:last-of-type a {
      display: flex;
      align-items: center; }
    .mob-links li:last-of-type img {
      margin-right: 10px; }
  .mob-links a {
    color: #fff; }

.key-messages {
  background-color: #F7F6F2;
  padding-top: 15px;
  padding-bottom: 15px; }
  .key-messages ul {
    padding: 0; }
  .key-messages li {
    display: flex !important;
    align-items: center;
    justify-content: center; }
  .key-messages img {
    max-width: 45px;
    margin-right: 10px; }
  .key-messages p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px; }
    @media (min-width: 1152px) {
      .key-messages p {
        font-size: 14px;
        line-height: 18px; } }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 20;
  background: #f8f9fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: #f8f9fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0;
  background-image: url("images/icons/arrow-previous.png"); }
  .slick-prev:hover {
    background-image: url("images/icons/arrow-previous.png"); }
  .slick-prev:focus {
    background-image: url("images/icons/arrow-previous.png"); }

[dir='rtl'] .slick-prev {
  right: 0;
  left: auto; }

.slick-prev:before {
  content: ''; }

[dir='rtl'] .slick-prev:before {
  content: ''; }

.slick-next {
  right: 0;
  background-image: url("images/icons/arrow-next.png"); }
  .slick-next:hover {
    background-image: url("images/icons/arrow-next.png"); }
  .slick-next:focus {
    background-image: url("images/icons/arrow-next.png"); }

[dir='rtl'] .slick-next {
  right: auto;
  left: 0; }

.slick-next:before {
  content: ''; }

[dir='rtl'] .slick-next:before {
  content: ''; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -50px;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  content: '•';
  text-align: center;
  opacity: .5;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .90; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.hero {
  position: relative;
  width: 100%; }
  .hero picture,
  .hero img {
    width: 100%; }

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 17, 40, 0.4); }

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%; }
  .overlay-content p {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    line-height: 24px; }
  .overlay-content h1 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    text-transform: capitalize; }
  .overlay-content a {
    background-color: #f3722c;
    color: #fff;
    padding: 20px 30px;
    font-weight: 600; }

.textblock {
  padding: 60px 20px;
  text-align: center; }
  .textblock h1 {
    width: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      .textblock h1 {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto; } }
  .textblock p {
    width: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      .textblock p {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto; } }

.textblock-btns a {
  min-width: 150px; }
  .textblock-btns a:not(:first-of-type) {
    margin-top: 20px; }
    @media (min-width: 576px) {
      .textblock-btns a:not(:first-of-type) {
        margin-top: 0;
        margin-left: 20px; } }

.slider {
  position: relative; }
  .slider li {
    position: relative; }

.slider-content {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%; }
  @media (min-width: 768px) {
    .slider-content {
      width: 80%;
      margin-left: 10%; } }

.content-box {
  background-color: rgba(10, 17, 40, 0.7);
  padding: 30px 30px 50px 30px;
  width: 80%; }
  @media (min-width: 768px) {
    .content-box {
      width: 500px; } }
  .content-box p {
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 26px; }

.slide-title {
  position: relative;
  color: #fff;
  margin-bottom: 5px; }

.slider-nav {
  position: absolute;
  display: flex;
  bottom: 30px;
  right: calc(10% + 20px);
  width: 130px; }
  .slider-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 60px;
    height: 60px; }
    .slider-nav a + a {
      margin-left: 10px; }
  .slider-nav img {
    max-width: 20px; }

.texblock-2col {
  padding: 60px 20px; }
  .body-home .texblock-2col {
    padding-bottom: 0; }
  .texblock-2col .c-container, .texblock-2col nav.primary ul:not(.sub-menu), nav.primary .texblock-2col ul:not(.sub-menu), .texblock-2col .key-messages ul, .key-messages .texblock-2col ul, .texblock-2col .overlay-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; }
    @media (min-width: 768px) {
      .texblock-2col .c-container, .texblock-2col nav.primary ul:not(.sub-menu), nav.primary .texblock-2col ul:not(.sub-menu), .texblock-2col .key-messages ul, .key-messages .texblock-2col ul, .texblock-2col .overlay-content {
        flex-direction: row; } }
  .texblock-2col .col-1 {
    width: 100%; }
    @media (min-width: 768px) {
      .texblock-2col .col-1 {
        width: 50%; } }
    @media (min-width: 992px) {
      .texblock-2col .col-1 {
        width: 40%; } }
    @media (max-width: 767px) {
      .texblock-2col .col-1 br {
        display: none; } }
  .texblock-2col .col-2 {
    width: 100%; }
    @media (min-width: 768px) {
      .texblock-2col .col-2 {
        width: 50%; } }
    @media (min-width: 992px) {
      .texblock-2col .col-2 {
        width: 60%; } }
    .texblock-2col .col-2 p:last-of-type {
      margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
