@charset "UTF-8";
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
* Remove trailing margins from nested lists.
*/
li > ul,
li > ol {
  margin-bottom: 0; }

/**
* Let’s get `<table>`s behaving how we expect.
*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Our Site Breakpoints (same as twitter bootstrap) */
/* Break a component out of the main container it sits in */
/* Breakpoints (These are the same values that bootstrap use) */
/* Just a bit bigger than a mobile */
/* iPads etc */
/* Laptop Screens */
/* Large Desktop Screens */
/* Extra large desktop screens */
/* Extra Extra Large Desktop Screens */
/* Maximum width of our site content */
@font-face {
  font-family: 'silka_monoregular';
  src: url("fonts/silkamono-regular-webfont.eot");
  src: url("fonts/silkamono-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/silkamono-regular-webfont.woff2") format("woff2"), url("fonts/silkamono-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'argesta_displayregular';
  src: url("fonts/argestadisplay-regular-webfont.eot");
  src: url("fonts/argestadisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/argestadisplay-regular-webfont.woff2") format("woff2"), url("fonts/argestadisplay-regular-webfont.woff") format("woff"), url("fonts/argestadisplay-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'argesta_displayregular_italic';
  src: url("fonts/argestadisplay-regularitalic-webfont.eot");
  src: url("fonts/argestadisplay-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/argestadisplay-regularitalic-webfont.woff2") format("woff2"), url("fonts/argestadisplay-regularitalic-webfont.woff") format("woff"), url("fonts/argestadisplay-regularitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
p {
  font-size: 14px;
  line-height: 20px;
  color: #495057;
  margin-bottom: 30px; }
  @media (min-width: 1152px) {
    p {
      font-size: 16px;
      line-height: 22px; } }
  p a {
    color: #495057;
    text-decoration: underline; }
    p a:hover {
      color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: "silka_monoregular";
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px; }
  @media (min-width: 1152px) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 30px;
      line-height: 40px; } }

form {
  padding: 30px 0; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"] {
  display: block;
  width: 100%;
  border-radius: 0;
  border: 1px solid #495057;
  height: 50px;
  padding-left: 10px; }

select {
  width: 100%;
  border-radius: 0;
  padding-left: 10px;
  border: 1px solid #495057;
  height: 50px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("images/icons/select-arrow.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: top 50% right 20px; }

textarea {
  width: 100%;
  border-radius: 0;
  padding: 20px;
  border: 1px solid #495057;
  height: 150px;
  font-family: sans-serif;
  resize: none; }

input[type="checkbox"] {
  margin: 0 3px 0 0;
  position: relative;
  top: 2px; }

input[type="radio"] {
  margin: 0 3px 0 0;
  position: relative;
  top: 2px; }

fieldset {
  padding: 20px;
  border: 1px solid #dee2e6; }
  fieldset:not(:last-of-type) {
    margin-bottom: 30px; }

legend {
  padding: 15px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600; }

label {
  display: inline-block;
  position: relative;
  margin-bottom: 5px; }

.field {
  margin-bottom: 15px; }

.is-checkboxes label {
  width: 100%; }
.is-checkboxes input[type="checkbox"]:not(:first-of-type) {
  margin-left: 5px; }

.is-radio label {
  width: 100%; }
.is-radio input[type="radio"]:not(:first-of-type) {
  margin-left: 5px; }

.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px; }

button[type="submit"] {
  border-radius: 0;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0; }

input[type="submit"] {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #495057;
  color: #495057;
  cursor: pointer;
  transition: all .3s ease; }
  input[type="submit"]:hover {
    background-color: #495057;
    color: #fff; }

table {
  width: 100%; }

th,
td {
  padding: 15px; }

thead {
  background-color: #495057; }
  thead td {
    color: #fff; }
    thead td:nth-of-type(even) {
      border-left: 1px solid #f8f9fa;
      border-right: 1px solid #f8f9fa; }

tbody tr:nth-of-type(even) {
  background-color: #f8f9fa; }
tbody tr:last-of-type {
  border-bottom: 1px solid #dee2e6; }
tbody td:nth-of-type(1) {
  border-left: 1px solid #dee2e6; }
tbody td:nth-of-type(even) {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6; }
tbody td:last-of-type {
  border-right: 1px solid #dee2e6; }

.btn, .dark-outline, .dark-solid, .white-outline, .white-solid {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  padding: 15px 25px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  transition: all .3s ease; }
  .btn:hover, .dark-outline:hover, .dark-solid:hover, .white-outline:hover, .white-solid:hover {
    text-decoration: none; }

.dark-outline {
  border-color: #000;
  color: #000; }
  .dark-outline:hover {
    background-color: #000;
    color: #fff; }

.dark-solid {
  border-color: #000;
  background-color: #000;
  color: #fff; }
  .dark-solid:hover {
    background-color: #fff;
    color: #000; }
  .dark-solid:visited {
    color: #fff; }
    .dark-solid:visited:hover {
      color: #000; }

.white-outline {
  border-color: #fff;
  background-color: transparent;
  color: #fff; }
  .white-outline:hover {
    background-color: #fff;
    color: #000; }

.white-solid {
  border-color: #fff;
  background-color: #fff;
  color: #000; }
  .white-solid:hover {
    background-color: #000;
    color: #fff; }

.default {
  color: #000; }

.btn-rounded {
  border-radius: 30px; }

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

nav.primary {
  display: none;
  background-color: #f8f9fa; }
  @media (min-width: 992px) {
    nav.primary {
      display: block; } }
  nav.primary ul:not(.sub-menu) {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding-left: 0;
    z-index: 100; }
  nav.primary li:not(.sub-menu li) {
    display: inline-block;
    position: relative;
    flex: 1; }
    nav.primary li:not(.sub-menu li):not(:first-of-type) {
      border-left: 1px solid #dee2e6; }
    nav.primary li:not(.sub-menu li):hover .sub-menu {
      left: auto; }
  nav.primary .sub-menu {
    position: absolute;
    left: -9999px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9; }
    nav.primary .sub-menu li {
      display: block;
      width: 100%; }
      nav.primary .sub-menu li:not(:last-of-type) {
        border-bottom: 1px solid #ddd; }
      nav.primary .sub-menu li a {
        padding: 15px;
        justify-content: flex-start;
        text-align: left; }
  nav.primary a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    transition: all .3s ease;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #495057;
    font-size: 11px;
    line-height: 11px; }
    @media (min-width: 1366px) {
      nav.primary a {
        font-size: 14px;
        line-height: 14px; } }
    nav.primary a:hover {
      background-color: #495057;
      color: #fff;
      text-decoration: none; }

nav.mega-menu {
  display: none;
  position: relative;
  background-color: #f8f9fa;
  z-index: 200; }
  @media (min-width: 992px) {
    nav.mega-menu {
      display: block; } }
  nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) {
    display: flex;
    position: relative;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    justify-content: space-evenly; }
    nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li {
      transition: all .3s ease; }
      nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li:not(.submenu li) {
        flex: 1;
        list-style-type: none;
        background-color: #f8f9fa;
        text-align: center; }
        nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li:not(.submenu li) a:not(.submenu a) {
          display: block;
          transition: all .3s ease;
          padding: 15px 0;
          border-top: 1px solid #f8f9fa;
          border-left: 1px solid #f8f9fa;
          border-right: 1px solid #f8f9fa;
          color: #000;
          font-family: "argesta_displayregular", "serif"; }
          nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li:not(.submenu li) a:not(.submenu a):hover {
            text-decoration: none;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd; }
        nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li:not(.submenu li):hover a:not(.submenu a) {
          background-color: #fff;
          position: relative; }
          nav.mega-menu ul:not(.submenu ul):not(.submenu li ul) li:not(.submenu li):hover a:not(.submenu a):after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #fff;
            z-index: 10; }
  nav.mega-menu ul .has-children:hover .submenu {
    left: auto;
    opacity: 1; }

.submenu {
  display: flex;
  opacity: 0;
  transition: all .3s ease;
  flex-wrap: wrap;
  position: absolute;
  left: -9999px;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px 0;
  width: 100%; }
  .submenu ul {
    padding: 10px 30px 0 30px;
    flex: 1; }
    .submenu ul li {
      list-style: none; }
      .submenu ul li ul {
        padding: 0;
        margin-bottom: 20px; }
        .submenu ul li ul li {
          padding: 2px 0;
          text-align: left; }
          .submenu ul li ul li:first-of-type {
            font-weight: 600;
            padding: 5px 0;
            color: #000; }
          .submenu ul li ul li a {
            font-family: sans-serif;
            padding: 0;
            color: #000;
            font-size: 13px;
            line-height: 13px; }
          .submenu ul li ul li img {
            width: 100%; }

html {
  /*! autoprefixer: off */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  /*! autoprefixer: off */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  /*! autoprefixer: off */
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

html,
body {
  overflow-x: hidden; }

body.is-square {
  background-color: #f8f9fa;
  padding: 20px; }
  @media (min-width: 1152px) {
    body.is-square {
      padding: 40px; } }
  body.is-square .site-header,
  body.is-square footer.site-footer {
    padding: 0; }
  body.is-square .c-container, body.is-square nav.primary ul:not(.sub-menu), nav.primary body.is-square ul:not(.sub-menu), body.is-square .site-content, body.is-square .header-inner, body.is-square .footer-inner, body.is-square .footer-btm, body.is-square .key-messages, body.is-square .points-of-interest.fullwidth ul, .points-of-interest.fullwidth body.is-square ul {
    max-width: 100%; }

.square-container {
  background-color: #fff;
  padding: 20px; }
  @media (min-width: 1152px) {
    .square-container {
      padding: 40px; } }

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

ul,
ol {
  padding-left: 15px; }

li {
  font-size: 14px;
  line-height: 20px;
  color: #495057; }
  @media (min-width: 1152px) {
    li {
      font-size: 16px;
      line-height: 22px; } }

.c-container, nav.primary ul:not(.sub-menu), .site-content, .header-inner, .footer-inner, .footer-btm, .key-messages, .points-of-interest.fullwidth ul {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0; }

.site-content {
  padding-top: 0;
  padding-bottom: 0; }

.component-info {
  background-color: #f8f9fa;
  border: 3px solid #333;
  padding: 30px 60px;
  margin-bottom: 60px; }
  .component-info p:last-of-type {
    margin-bottom: 0; }

body.is-square {
  background-color: #f8f9fa;
  padding: 20px; }
  @media (min-width: 1152px) {
    body.is-square {
      padding: 40px; } }
  body.is-square .site-header,
  body.is-square footer.site-footer {
    padding: 0; }
  body.is-square .c-container, body.is-square nav.primary ul:not(.sub-menu), nav.primary body.is-square ul:not(.sub-menu), body.is-square .site-content, body.is-square .header-inner, body.is-square .footer-inner, body.is-square .footer-btm, body.is-square .key-messages, body.is-square .points-of-interest.fullwidth ul, .points-of-interest.fullwidth body.is-square ul {
    max-width: 100%; }

.square-container {
  background-color: #fff;
  padding: 20px; }
  @media (min-width: 1152px) {
    .square-container {
      padding: 40px; } }

header.site-header {
  padding-left: 20px;
  padding-right: 20px; }

.header-inner {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px; }
  .header-inner .menu-toggle {
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 30px;
    height: 30px; }
    @media (max-width: 991px) {
      .header-inner .menu-toggle {
        display: flex; } }
    .header-inner .menu-toggle img {
      width: 100%; }

.site-logo {
  width: 150px; }
  .site-logo img {
    width: 100%; }

footer.site-footer {
  padding-left: 20px;
  padding-right: 20px; }

.newsletter {
  padding-top: 20px;
  width: 100%; }
  @media (min-width: 768px) {
    .newsletter {
      width: 45%;
      margin-left: auto;
      padding-top: 0; } }
  .newsletter .newsletter-heading {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 10px; }
  .newsletter form {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%; }
  .newsletter label {
    width: 100%; }
  .newsletter input[type="email"] {
    width: 70%;
    border-right: 0; }
  .newsletter button[type="submit"] {
    width: 30%;
    border-left: 0;
    transition: all .3s ease; }
    .newsletter button[type="submit"]:hover {
      background-color: #000;
      color: #fff; }

.footer-inner {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 576px) {
    .footer-inner {
      flex-direction: row;
      flex-wrap: wrap; } }
  .footer-inner ul {
    padding: 0; }
    .footer-inner ul:not(:first-of-type) {
      margin-top: 20px; }
    @media (min-width: 576px) {
      .footer-inner ul:not(:first-of-type) {
        margin-top: 0;
        margin-left: 5%; } }
  .footer-inner li {
    display: block; }
    .footer-inner li:first-of-type {
      font-weight: 600;
      margin-bottom: 5px; }
  .footer-inner a {
    color: #000;
    font-size: 14px;
    line-height: 14px; }
    @media (min-width: 768px) {
      .footer-inner a {
        font-size: 12px;
        line-height: 12px; } }
    @media (min-width: 1152px) {
      .footer-inner a {
        font-size: 14px;
        line-height: 14px; } }
    .footer-inner a:hover {
      color: #495057; }

.footer-btm {
  border-top: 1px solid #dee2e6;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .footer-btm {
      font-size: 12px;
      line-height: 16px; } }
  @media (min-width: 1152px) {
    .footer-btm {
      font-size: 14px;
      line-height: 18px; } }
  .footer-btm p {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    width: 70%; }
    @media (min-width: 768px) {
      .footer-btm p {
        margin-bottom: 0; } }
  .footer-btm ul {
    display: flex;
    width: 100%;
    padding: 0; }
    @media (min-width: 768px) {
      .footer-btm ul {
        width: auto;
        margin-left: auto; } }
  .footer-btm li {
    display: inline-block;
    font-size: 12px;
    line-height: 16px; }
    .footer-btm li:not(:first-of-type):before {
      content: "/";
      color: #495057;
      font-size: 12px;
      line-height: 16px;
      margin: 0 5px; }
    .footer-btm li a {
      color: #495057; }

.key-messages {
  padding-top: 15px;
  padding-bottom: 15px; }
  .key-messages ul {
    padding: 0; }
  .key-messages li {
    display: flex !important;
    align-items: center;
    justify-content: center; }
  .key-messages img {
    max-width: 45px;
    margin-right: 10px; }
  .key-messages p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px; }
    @media (min-width: 1152px) {
      .key-messages p {
        font-size: 14px;
        line-height: 18px; } }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 20;
  background: #f8f9fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: #f8f9fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0;
  background-image: url("images/icons/arrow-previous.png"); }
  .slick-prev:hover {
    background-image: url("images/icons/arrow-previous.png"); }
  .slick-prev:focus {
    background-image: url("images/icons/arrow-previous.png"); }

[dir='rtl'] .slick-prev {
  right: 0;
  left: auto; }

.slick-prev:before {
  content: ''; }

[dir='rtl'] .slick-prev:before {
  content: ''; }

.slick-next {
  right: 0;
  background-image: url("images/icons/arrow-next.png"); }
  .slick-next:hover {
    background-image: url("images/icons/arrow-next.png"); }
  .slick-next:focus {
    background-image: url("images/icons/arrow-next.png"); }

[dir='rtl'] .slick-next {
  right: auto;
  left: 0; }

.slick-next:before {
  content: ''; }

[dir='rtl'] .slick-next:before {
  content: ''; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -50px;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  content: '•';
  text-align: center;
  opacity: .5;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .90;
  color: #7dd181; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Base styles */
.hero {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 60px; }
  .hero picture,
  .hero img {
    width: 100%;
    height: auto; }
  .hero.fullwidth {
    position: relative !important;
    width: 100vw !important;
    left: 50% !important;
    margin-left: -50vw !important; }

/* Hero Text */
.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .hero-text.left-aligned {
    align-items: flex-start;
    padding-left: 40px; }
  .hero-text.center-aligned {
    align-items: center; }
    .hero-text.center-aligned p {
      text-align: center; }
  .hero-text p {
    margin-top: 10px;
    margin-bottom: 0;
    width: 80%; }
    @media (min-width: 768px) {
      .hero-text p {
        width: 50%; } }

.hero-title {
  font-size: 28px;
  line-height: 38px; }

/* Hero Dark Overlay */
.hero-dark--overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
.hero-dark--overlay .hero-title,
.hero-dark--overlay p {
  position: relative;
  color: #fff; }

/* Hero Light Overlay */
.hero-light--overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); }
.hero-light--overlay .hero-title,
.hero-light--overlay p {
  position: relative;
  color: #000; }

/* Hero Slider */
.hero-slider ul {
  padding: 0; }
.hero-slider li {
  list-style: none; }

.hero-text--slider {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0;
  width: 100%;
  height: 100%; }
  .hero-text--slider .slick-list,
  .hero-text--slider .slick-track,
  .hero-text--slider .slick-slide,
  .hero-text--slider .hero-text {
    height: 100%; }
  .hero-text--slider .hero-text {
    position: relative; }
  .hero-text--slider .left-aligned {
    padding-left: 80px; }

.textblock h2 {
  margin-bottom: 60px;
  text-align: left; }
.textblock.grey-theme {
  background-color: #f8f9fa; }
.textblock.dark-theme {
  background-color: #000; }
  .textblock.dark-theme h1, .textblock.dark-theme h2, .textblock.dark-theme h3, .textblock.dark-theme h4, .textblock.dark-theme h5, .textblock.dark-theme h6, .textblock.dark-theme p {
    color: #fff; }
  .textblock.dark-theme p a {
    color: #fff; }
.textblock.with-padding {
  padding: 60px 30px; }
  @media (min-width: 1152px) {
    .textblock.with-padding {
      padding: 60px; } }
.textblock.fullwidth {
  position: relative !important;
  width: 100vw !important;
  left: 50% !important;
  margin-left: -50vw !important; }
.textblock.centered {
  text-align: center; }
  .textblock.centered .textblock-btns {
    justify-content: center; }
  .textblock.centered h2 {
    text-align: center; }
.textblock p:last-of-type {
  margin-bottom: 0; }
.textblock ul,
.textblock ol {
  margin-top: 20px;
  margin-bottom: 20px; }

.layout-2--columns h2 {
  width: 100%;
  text-align: left; }
  @media (min-width: 768px) {
    .layout-2--columns h2 {
      text-align: center; } }
.layout-2--columns .layout-container {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .layout-2--columns .layout-container {
      flex-direction: row; } }
.layout-2--columns .col-1 {
  width: 100%; }
  @media (min-width: 768px) {
    .layout-2--columns .col-1 {
      width: 50%;
      padding-right: 2%; } }
.layout-2--columns .col-2 {
  width: 100%;
  margin-top: 60px; }
  @media (min-width: 768px) {
    .layout-2--columns .col-2 {
      width: 50%;
      padding-left: 2%;
      margin-top: 0; } }

.textblock-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 60px; }
  .textblock-btns a:not(:first-of-type) {
    margin-left: 10px; }

.points-of-interest {
  position: relative;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }
  .points-of-interest h2 {
    width: 100%;
    text-align: center; }
  .points-of-interest p {
    width: 100%;
    text-align: center; }
  .points-of-interest ul {
    display: flex;
    flex-direction: column;
    padding: 0; }
    @media (min-width: 576px) {
      .points-of-interest ul {
        flex-direction: row; } }
  .points-of-interest li {
    list-style-type: none;
    width: 100%; }
    @media (min-width: 576px) {
      .points-of-interest li {
        margin-right: 2%;
        width: 32%; }
        .points-of-interest li:nth-of-type(3n) {
          margin-right: 0; } }
    .points-of-interest li:not(:last-of-type) {
      margin-bottom: 20px; }
      @media (min-width: 576px) {
        .points-of-interest li:not(:last-of-type) {
          margin-bottom: 0; } }
  .points-of-interest img {
    margin-bottom: 20px; }
  .points-of-interest.grey-theme {
    background-color: #f8f9fa;
    padding: 30px; }
    @media (min-width: 1152px) {
      .points-of-interest.grey-theme {
        padding: 60px; } }
  .points-of-interest.dark-theme {
    background-color: #000;
    padding: 30px; }
    @media (min-width: 1152px) {
      .points-of-interest.dark-theme {
        padding: 60px; } }
    .points-of-interest.dark-theme h2, .points-of-interest.dark-theme p, .points-of-interest.dark-theme a {
      color: #fff; }
    .points-of-interest.dark-theme .slick-dots li button:before {
      color: #fff; }
  .points-of-interest.fullwidth {
    position: relative !important;
    width: 100vw !important;
    left: 50% !important;
    margin-left: -50vw !important; }
  .points-of-interest.carousel-mode {
    padding-bottom: 90px; }
    .points-of-interest.carousel-mode li {
      width: auto;
      margin: 0 10px; }
  .points-of-interest ul.slick-dots {
    display: block; }

.poi-title {
  font-size: 18px;
  line-height: 24px; }
  @media (min-width: 576px) {
    .poi-title {
      font-size: 12px;
      line-height: 18px;
      padding-right: 20px; } }
  @media (min-width: 768px) {
    .poi-title {
      font-size: 14px;
      line-height: 22px; } }
  @media (min-width: 1152px) {
    .poi-title {
      font-size: 18px;
      line-height: 24px; } }
  .poi-title a {
    color: #000; }

.equal-block .text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 100%;
  padding: 0 30px; }
  @media (min-width: 768px) {
    .equal-block .text-block {
      width: 50%;
      padding: 0 60px;
      aspect-ratio: unset; } }
.equal-block .image-block {
  width: 100%; }
  @media (min-width: 768px) {
    .equal-block .image-block {
      width: 50%; } }
  .equal-block .image-block img {
    width: 100%;
    aspect-ratio: 1/1; }
    @media (min-width: 768px) {
      .equal-block .image-block img {
        height: 100%;
        object-fit: cover;
        aspect-ratio: unset; } }
.equal-block.grey-theme {
  background-color: #f8f9fa;
  padding: 30px; }
  @media (min-width: 768px) {
    .equal-block.grey-theme {
      padding: 60px; } }
.equal-block.fullwidth {
  position: relative !important;
  width: 100vw !important;
  left: 50% !important;
  margin-left: -50vw !important; }
.equal-block.with-padding .equal-row {
  padding: 30px; }
  .equal-block.with-padding .equal-row:nth-of-type(odd) {
    background-color: #f8f9fa; }

.equal-row {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 768px) {
    .equal-row {
      flex-direction: row; } }
  @media (min-width: 768px) {
    .equal-row.reversed {
      flex-direction: row-reverse; } }
  @media (min-width: 768px) {
    .equal-row.row-item:nth-of-type(odd) {
      flex-direction: row-reverse; } }

.icon-list {
  width: 100%; }
  .icon-list h2, .icon-list p {
    text-align: center; }
  .icon-list ul {
    padding: 0; }
  .icon-list img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto; }
  .icon-list p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .icon-list.carousel-mode {
    padding-bottom: 60px; }
    .icon-list.carousel-mode li {
      margin: 0 10px; }
      .icon-list.carousel-mode li p {
        margin-top: 15px;
        margin-bottom: 0; }
  .icon-list .slick-dots {
    bottom: -60px; }
  .icon-list.list-mode ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%; }
  .icon-list.list-mode li {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin-bottom: 2%;
    margin-right: 2%; }
    .icon-list.list-mode li:nth-of-type(2n) {
      margin-right: 0; }
    @media (min-width: 576px) {
      .icon-list.list-mode li {
        width: 32%; }
        .icon-list.list-mode li:nth-of-type(2n) {
          margin-right: 2%; }
        .icon-list.list-mode li:nth-of-type(3n) {
          margin-right: 0; } }
    @media (min-width: 768px) {
      .icon-list.list-mode li {
        width: 23.5%; }
        .icon-list.list-mode li:nth-of-type(2n) {
          margin-right: 2%; }
        .icon-list.list-mode li:nth-of-type(3n) {
          margin-right: 2%; }
        .icon-list.list-mode li:nth-of-type(4n) {
          margin-right: 0; } }
    .icon-list.list-mode li p {
      margin-top: 15px;
      margin-bottom: 0; }

.icon-heading {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  line-height: 20px; }
  @media (min-width: 1152px) {
    .icon-heading {
      font-size: 18px;
      line-height: 24px; } }

.image-callout {
  position: relative;
  width: 100%; }
  .image-callout picture,
  .image-callout img {
    width: 100%; }
  .image-callout.fullwidth {
    position: relative !important;
    width: 100vw !important;
    left: 50% !important;
    margin-left: -50vw !important; }
  .image-callout.dark-theme:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
  .image-callout.dark-theme .callout-heading,
  .image-callout.dark-theme p {
    color: #fff; }
  .image-callout.light-theme:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
  .image-callout.light-theme .callout-heading,
  .image-callout.light-theme p {
    color: #000; }

.callout-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  justify-content: center;
  align-items: flex-start; }
  .callout-content.centered {
    align-items: center;
    padding-left: 0; }
    .callout-content.centered .callout-heading {
      text-align: center; }
    .callout-content.centered p {
      text-align: center;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto; }

.callout-btns a:not(:first-of-type) {
  margin-left: 10px; }

.article-select h2, .article-select h3, .article-select h4, .article-select h5, .article-select h6 {
  width: 100%;
  text-align: center; }
.article-select p {
  text-align: center; }
.article-select ul {
  padding: 0; }
.article-select.list-mode ul {
  display: flex;
  flex-direction: column; }
  @media (min-width: 576px) {
    .article-select.list-mode ul {
      flex-flow: row wrap; } }
  @media (min-width: 768px) {
    .article-select.list-mode ul {
      padding-left: 20px;
      padding-right: 20px; } }
.article-select.list-mode li {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: all .3s ease;
  border: 1px solid #eee;
  padding: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 20px; }
  @media (min-width: 576px) {
    .article-select.list-mode li {
      width: 49%;
      margin-right: 2%;
      margin-bottom: 2%; }
      .article-select.list-mode li:nth-of-type(2n) {
        margin-right: 0; } }
  @media (min-width: 768px) {
    .article-select.list-mode li {
      width: 32%;
      margin-right: 2%;
      margin-bottom: 2%; }
      .article-select.list-mode li:nth-of-type(2n) {
        margin-right: 2%; }
      .article-select.list-mode li:nth-of-type(3n) {
        margin-right: 0; } }
  @media (min-width: 992px) {
    .article-select.list-mode li {
      width: 23.5%;
      margin-right: 2%;
      margin-bottom: 2%; }
      .article-select.list-mode li:nth-of-type(2n) {
        margin-right: 2%; }
      .article-select.list-mode li:nth-of-type(3n) {
        margin-right: 2%; }
      .article-select.list-mode li:nth-of-type(4n) {
        margin-right: 0; } }
  .article-select.list-mode li:hover {
    border-color: #495057; }
  .article-select.list-mode li p {
    text-align: left; }
    @media (min-width: 576px) {
      .article-select.list-mode li p {
        font-size: 13px;
        line-height: 18px; } }
    @media (min-width: 1152px) {
      .article-select.list-mode li p {
        font-size: 15px;
        line-height: 20px; } }
.article-select.carousel-mode ul {
  padding-left: 60px;
  padding-right: 60px; }
.article-select.carousel-mode li:not(.slick-dots li) {
  margin: 0 10px; }
.article-select img {
  width: 100%; }
.article-select .post-content {
  padding: 20px 10px; }
  @media (min-width: 576px) {
    .article-select .post-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%; } }
.article-select .post-title {
  text-align: left;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px; }
  @media (min-width: 576px) {
    .article-select .post-title {
      font-size: 14px;
      line-height: 18px; } }
  @media (min-width: 1152px) {
    .article-select .post-title {
      font-size: 16px;
      line-height: 22px; } }
  .article-select .post-title a {
    color: #000; }
.article-select .post-meta {
  display: flex;
  margin-bottom: 15px;
  font-size: 11px;
  line-height: 11px; }
  .article-select .post-meta a {
    color: #000; }
.article-select date:after {
  content: "/";
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  margin: 0 5px; }
.article-select .readmore {
  margin-top: auto; }
.article-select .btn-container {
  padding: 60px 0; }

.accordion {
  display: block;
  position: relative;
  width: 100%;
  height: auto; }
  .accordion h2:not(.accordion-content h2, h3, h4, h5, h6), .accordion h3:not(.accordion-content h2, h3, h4, h5, h6), .accordion h4:not(.accordion-content h2, h3, h4, h5, h6), .accordion h5:not(.accordion-content h2, h3, h4, h5, h6), .accordion h6:not(.accordion-content h2, h3, h4, h5, h6) {
    width: 100%;
    text-align: center; }
  .accordion p:not(.accordion-content p) {
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .accordion.thin-version .accordion-container {
    max-width: 900px; }
  .accordion.grey-theme {
    background-color: #f8f9fa;
    padding: 30px; }
    @media (min-width: 1152px) {
      .accordion.grey-theme {
        padding: 60px; } }

.accordion-container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0; }

.accordion-item {
  display: block;
  position: relative;
  width: 100%; }
  .accordion-item .accordion-heading {
    padding: 20px 50px 20px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "silka_monoregular";
    color: #000;
    font-size: 16px;
    line-height: 22px;
    border-top: 1px solid #000;
    background-image: url("images/icons/select-arrow.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: top 50% right 20px; }
    @media (min-width: 1152px) {
      .accordion-item .accordion-heading {
        font-size: 18px;
        line-height: 26px; } }
  .accordion-item:last-of-type .accordion-heading {
    border-bottom: 1px solid #000; }
  .accordion-item:last-of-type .active-tab {
    border-bottom: 0; }
  .accordion-item .active-tab {
    background-image: url("images/icons/up-arrow.png");
    border-bottom: 0; }
  .accordion-item .accordion-content {
    padding: 30px 20px; }
    .accordion-item .accordion-content p:only-child {
      margin-bottom: 0; }
    .accordion-item .accordion-content ul,
    .accordion-item .accordion-content ol {
      padding-left: 15px; }
    .accordion-item .accordion-content.open {
      display: table;
      border-top: 1px solid #000; }
    .accordion-item .accordion-content .alignleft {
      float: left;
      position: relative;
      clear: both;
      width: 50%;
      margin: 0 20px 0 0; }
    .accordion-item .accordion-content .alignright {
      float: right;
      position: relative;
      clear: both;
      width: 50%;
      margin: 0 0 0 20px; }
    .accordion-item .accordion-content .size-large {
      width: 100%;
      margin-bottom: 30px; }
    .accordion-item .accordion-content .size-medium {
      width: 50%; }
    .accordion-item .accordion-content .size-thumbnail {
      width: 20%; }
  .accordion-item .two-col {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .accordion-item .two-col {
        flex-direction: row; } }
    .accordion-item .two-col.open {
      display: flex; }
  .accordion-item .col-1 {
    width: 100%; }
    @media (min-width: 768px) {
      .accordion-item .col-1 {
        width: 50%;
        padding-right: 2%; } }
  .accordion-item .col-2 {
    width: 100%; }
    @media (min-width: 768px) {
      .accordion-item .col-2 {
        width: 50%;
        padding-left: 2%; } }

.grid-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%; }
  @media (min-width: 576px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      flex-wrap: unset; } }

.grid-block {
  position: relative;
  padding: 30px; }
  .grid-block p {
    font-family: "argesta_displayregular", "serif"; }
  .grid-block h1, .grid-block h2, .grid-block h3, .grid-block h4, .grid-block h5, .grid-block h6 {
    font-family: "argesta_displayregular", "serif"; }
  .grid-block h2 {
    font-size: 22px;
    line-height: 26px; }
  .grid-block a {
    color: #495057; }
  .grid-block ul {
    padding-left: 0;
    margin-bottom: 10px; }
  .grid-block li {
    list-style: none; }
    .grid-block li:not(:last-of-type) {
      margin-bottom: 10px; }

.has-right-corner:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  background-color: #333; }

.has-left-corner:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  left: -15px;
  background-color: #333; }

.block1 {
  width: 100%; }
  @media (min-width: 576px) {
    .block1 {
      grid-column: 1/span 2; } }

.block2 {
  width: 100%; }
  @media (min-width: 576px) {
    .block2 {
      grid-column: 3/span 3; } }

.block3 {
  width: 100%; }
  @media (min-width: 576px) {
    .block3 {
      grid-column: 6/span 2; } }

.block4 {
  width: 100%; }
  @media (min-width: 576px) {
    .block4 {
      grid-column: 1/span 4; } }

.block5 {
  width: 100%; }
  @media (min-width: 576px) {
    .block5 {
      grid-column: 6/span 2; } }

.block6 {
  width: 100%; }
  @media (min-width: 576px) {
    .block6 {
      grid-column: 1/span 5; } }

.block7 {
  width: 100%; }
  @media (min-width: 576px) {
    .block7 {
      grid-column: 1/span 3; } }

.block8 {
  width: 100%; }
  @media (min-width: 576px) {
    .block8 {
      grid-column: 1/span 5; } }

.block9 {
  width: 100%; }
  @media (min-width: 576px) {
    .block9 {
      grid-column: 6/span 7; } }

.block10 {
  width: 100%; }
  @media (min-width: 576px) {
    .block10 {
      grid-column: 4/span 6; } }

.block11 {
  width: 100%; }
  @media (min-width: 576px) {
    .block11 {
      grid-column: 5/span 4; } }

.block12 {
  width: 100%; }
  @media (min-width: 576px) {
    .block12 {
      grid-column: 3/span 4; } }

.block13 {
  width: 100%; }
  @media (min-width: 576px) {
    .block13 {
      grid-column: 3/span 5; } }

.grid-shop--container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 60px 10px;
  width: 100%; }
  @media (min-width: 576px) {
    .grid-shop--container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      flex-wrap: unset; } }

.shop-block {
  position: relative;
  padding: 30px; }
  .shop-block img {
    width: 100%; }
  .shop-block figcaption {
    font-size: 11px;
    line-height: 16px;
    color: #666;
    font-family: "argesta_displayregular_italic", "serif";
    margin-top: 10px; }
  .shop-block p {
    font-family: "argesta_displayregular", "serif"; }
  .shop-block h1, .shop-block h2, .shop-block h3, .shop-block h4, .shop-block h5, .shop-block h6 {
    font-family: "argesta_displayregular", "serif"; }
  .shop-block h2 {
    font-size: 22px;
    line-height: 26px; }
  .shop-block a {
    color: #495057; }
  .shop-block ul {
    padding-left: 0;
    margin-bottom: 10px; }
  .shop-block li {
    list-style: none; }
    .shop-block li:not(:last-of-type) {
      margin-bottom: 10px; }

.shopblock-1 {
  width: 100%; }
  @media (min-width: 576px) {
    .shopblock-1 {
      grid-column: 1/span 4; } }
  .shopblock-1 .product-name {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 5px; }
  .shopblock-1 small {
    display: block;
    color: #999;
    margin-bottom: 30px; }
  .shopblock-1 .price {
    font-size: 30px;
    line-height: 40px; }
  .shopblock-1 .product-actions {
    margin-top: 30px; }
    @media (min-width: 768px) {
      .shopblock-1 .product-actions {
        width: 60%; } }
    .shopblock-1 .product-actions form {
      display: flex; }
    .shopblock-1 .product-actions input[type="number"] {
      width: 50px;
      height: 50px;
      border-radius: 0;
      border: 1px solid #ccc;
      padding-left: 10px; }
    .shopblock-1 .product-actions button {
      width: calc(100% - 50px);
      height: 50px;
      margin-left: 10px;
      border: 1px solid #000;
      border-radius: 0;
      background-color: #000;
      font-family: "argesta_displayregular", "serif";
      font-size: 18px;
      line-height: 18px;
      color: #fff;
      cursor: pointer;
      transition: all .3s ease; }
      .shopblock-1 .product-actions button:hover {
        background-color: #333; }
  .shopblock-1 .payment-info {
    padding: 20px 0; }
    @media (min-width: 768px) {
      .shopblock-1 .payment-info {
        width: 60%; } }
    .shopblock-1 .payment-info p {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px; }
      .shopblock-1 .payment-info p a {
        color: #000;
        text-decoration: underline; }
        .shopblock-1 .payment-info p a:hover {
          text-decoration: none; }
    .shopblock-1 .payment-info img {
      max-width: 80px; }
  .shopblock-1 .other-payments {
    margin-top: 20px; }
    .shopblock-1 .other-payments p {
      font-size: 12px;
      line-height: 18px; }
    .shopblock-1 .other-payments img {
      max-width: 150px; }

.shopblock-2 {
  width: 100%; }
  @media (min-width: 576px) {
    .shopblock-2 {
      grid-column: 6/span 2; } }

.shopblock-3 {
  width: 100%; }
  @media (min-width: 576px) {
    .shopblock-3 {
      grid-column: 1/span 3; } }

.shopblock-4 {
  width: 100%; }
  @media (min-width: 576px) {
    .shopblock-4 {
      grid-column: 4/span 4; } }

.shopblock-5 {
  width: 100%; }
  @media (min-width: 576px) {
    .shopblock-5 {
      grid-column: 1/span 3; } }
  .shopblock-5 .inner-grid {
    padding-top: 5px; }
    @media (min-width: 768px) {
      .shopblock-5 .inner-grid {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; } }
  .shopblock-5 .inner-block img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .shopblock-5 .block1 {
    width: 100%; }
    @media (min-width: 768px) {
      .shopblock-5 .block1 {
        grid-column: 1/span 2;
        grid-row: span 6;
        padding-right: 5px; } }
  .shopblock-5 .block2 {
    width: 100%; }
    @media (min-width: 768px) {
      .shopblock-5 .block2 {
        grid-column: 3;
        grid-row: span 3;
        padding-bottom: 5px; } }
  .shopblock-5 .block3 {
    width: 100%; }
    @media (min-width: 768px) {
      .shopblock-5 .block3 {
        grid-column: 3;
        grid-row: span 3; } }

.shopblock-6 {
  width: 100%; }
  @media (min-width: 576px) {
    .shopblock-6 {
      grid-column: 5/span 3; } }
  .shopblock-6 .inner-grid {
    padding-top: 5px; }
  .shopblock-6 .block1 {
    width: 100%; }
    @media (min-width: 768px) {
      .shopblock-6 .block1 {
        grid-column: 1/span 2; } }
  .shopblock-6 .block2 {
    width: 100%; }
    @media (min-width: 768px) {
      .shopblock-6 .block2 {
        grid-column: 2/span 2;
        padding-top: 5px; } }
  .shopblock-6 .block3 {
    width: 100%; }
    @media (min-width: 768px) {
      .shopblock-6 .block3 {
        grid-column: 1/span 1;
        padding-top: 5px; } }

.shopblock-7 {
  width: 100%; }
  @media (min-width: 576px) {
    .shopblock-7 {
      grid-column: 4/span 4; } }

.shopblock-8 {
  width: 100%; }
  @media (min-width: 576px) {
    .shopblock-8 {
      grid-column: 2/span 6; } }

.shopblock-9 {
  width: 100%; }
  @media (min-width: 576px) {
    .shopblock-9 {
      grid-column: 1/span 3; } }

.inner-grid {
  display: flex;
  flex-direction: column;
  padding: 10px 0; }
  @media (min-width: 768px) {
    .inner-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; } }

/*# sourceMappingURL=style.css.map */
