/* Our Site Breakpoints (same as twitter bootstrap) */

@mixin breakpoint($point) {
    @if $point == xxldesktop {
        @media (min-width: $xxldesktop__breakpoint) { @content ; }
    }
    @if $point == xldesktop {
        @media (min-width: $xldesktop__breakpoint) { @content ; }
    }
    @if $point == desktop {
        @media (min-width: $desktop__breakpoint) { @content ; }
    }
    @else if $point == laptop {
        @media (min-width: $laptop__breakpoint) { @content ; }
    }
    @else if $point == tablet {
        @media (min-width: $tablet__breakpoint) { @content ; }
    }
    @else if $point == phablet {
        @media (min-width: $phablet__breakpoint)  { @content ; }
    }
    @else if $point == mobileonly {
        @media (max-width: $phablet__breakpoint)  { @content ; }
    }
}

/* Break a component out of the main container it sits in */
@mixin breakout {
    position: relative !important;
    width: 100vw !important;
    left: 50% !important;
    margin-left: -50vw !important;
}