.submenu {
    background-color: $white;
    padding: 20px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 100%;
    left: -9999px;
}

li.has-children {

    &:hover {

        .submenu {
            left: 0;
        }
    }
}

.sub-inner {
    @extend .c-container;
    text-align: left;
    height: auto;
    padding: 30px 0;
}

.submenu-title {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    p {
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
        margin: 0;
    }

    a {
        color: $copy;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

ul.menu-collection {
    display: flex;
    width: 100%;

    li {
        display: flex;
        flex-direction: column;
        width: 25%;
        list-style-type: none;

        &:not(:last-of-type) {
            margin-right: 10px;
        }

        a {
            &:not(p a) {
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($darkblue,0);
                    transform: scale(1);
                    transition: all .6s ease;
                }

                &:hover {
                    &:before {
                        transform: scale(0.95);
                        background-color: rgba($darkblue,.3);
                    }
                }
            }
        }
    }

    p {
        color: $copy;
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0 0 0;
        font-size: 18px;
        line-height: 18px;

        a {
            color: $copy;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}