.process-text {
    background-color: $beige;
    padding: 60px 20px;

    .c-container {
        display: flex;
        flex-direction: column;

        @include breakpoint(tablet) {
            flex-direction: row;
        }
    }

    .textcol {
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding-right: 60px;

            + .textcol {
                padding-left: 60px;
            }
        }
    }
}