.video-container {
    padding: 20px;
    background-color: $white;

    @include breakpoint(tablet) {
        padding: 60px;
    }

    img {
        width: 100%;
    }

    a {
        display: block;
        position: relative;
        height: 100%;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all .3s ease;
            background-color: rgba($darkblue,.5);
            background-image: url('images/play.png');
            background-repeat: no-repeat;
            background-size: 80px;
            background-position: center; 
        }
    }
}