.gallery-slider {
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;
    padding-top: 30px;
    padding-bottom: 30px;

    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .body-showroom & {
        border-bottom: 0;
    }

    h3 {
        margin: 0;
        padding-bottom: 30px;
        width: 100%;
        text-align: center;

        @include breakpoint(tablet) {
            padding-bottom: 60px;
        }
    }

    img {
        width: 100%;
    }

    li {
        list-style: none;
    }

    ul.main {

        @media(max-width: 767px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    ul.thumbnails {
        margin-top: 30px;
        padding-left: 60px;
        padding-right: 60px;

        li {
            margin: 0 5px;
            cursor: pointer;
        }
    }

    .slick-prev {
        background-image: url('images/arrows/previous-grey.png');
        background-size: 25px;
        background-color: transparent;

        @media(max-width: 767px) {
            left: 10px;
        }
    }

    .slick-next {
        background-image: url('images/arrows/next-grey.png');
        background-size: 25px;
        background-color: transparent;

        @media(max-width: 767px) {
            right: 10px;
        }
    }
}