.page-banner {
    position: relative;
    width: 100%;

    picture,
    img {
        width: 100%;
    }

    .view-btn {
        @extend .btn;
        background-color: $white;
        border: 1px solid $white;
        color: $black;
        padding-right: 50px;
        position: absolute;
        bottom: 20px;
        right: 20px;  
        background-image: url('images/plus-black.png');
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: top 50% right 15px;
        transition: all .3s ease;

        &:hover {
            background-color: $orange;
            border: 1px solid $orange;
            color: $white;
            background-image: url('images/plus-white.png');
        }
        
        @include breakpoint(desktop) {
            bottom: 60px;
            right: 60px;
        }
    }
}