p {
    font-size: 14px;
    line-height: 20px;
    color: $copy;
    margin-bottom: 30px;
    font-family: $graphikreg;

    @include breakpoint(desktop) {
        font-size: 16px;
        line-height: 22px;
    }

    a {
        color: $copy;
        text-decoration: underline;

        &:hover {
            color: $black;
        }
    }
}