h1, h2, h3, h4, h5, h6 {
    font-family: $silka;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;

    @include breakpoint(desktop) {
        font-size: 30px;
        line-height: 40px;
    }
}