.hero {
    position: relative;
    width: 100%;

    picture,
    img {
        width: 100%;
    }
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($darkblue,.4);
}

.overlay-content {
    @extend .c-container;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;

    p {
        margin-bottom: 0;
        text-transform: uppercase;
        color: $white;
        font-size: 18px;
        line-height: 18px;
        font-weight: 300;
    }

    .overlay-title {
        margin-top: 10px;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: $white;
        text-transform: capitalize;

        br {
            @media(max-width: 767px) {
                display: none;
            }
        }
    }

    .orange-solid {

        &:hover {
            background-color: $white;
            border-color: $white;
        }
    }
}