.instagram {
    padding: 30px 20px calc(40px - 1%) 20px;

    @include breakpoint(tablet) {
        padding: 60px 20px calc(60px - 1%) 20px; 
    }

    .body-showroom & {
        border-top: 1px solid $orange;
    }

    h4 {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;

        @include breakpoint(tablet) {
            margin-bottom: 60px;
        }
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }

    li {
        width: 49.5%;
        list-style: none;
        margin-right: 1%;
        margin-bottom: 1%;

        &:nth-of-type(2n) {
            margin-right: 0;
        }

        @include breakpoint(tablet) {
            width: 19.2%;

            &:nth-of-type(2n) {
                margin-right: 1%;
            }

            &:nth-of-type(5n) {
                margin-right: 0;
            }
        }
    }

    .orange-solid {
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        display: block;
        margin-top: 30px;
    }
}