.slider {
    position: relative;

    li {
        position: relative;
    }

    picture,
    img {
        width: 100%;
    }
}

.slider-content {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include breakpoint(tablet) {
        width: 80%;
        margin-left: 10%;
    }
}

.content-box {
    background-color: rgba($darkblue,.9);
    padding: 30px 30px 30px 30px;
    width: 100%;

    @include breakpoint(tablet) {
        padding: 30px 30px 50px 30px;
        width: 500px;
        background-color: rgba($darkblue,.7);
    }

    p {
        position: relative;
        color: $white;
        font-size: 18px;
        line-height: 26px;
    }
}

.slide-title {
    position: relative;
    color: $white;
    margin-bottom: 5px;
}

.slider-nav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 30px;
    right: 20px;
    width: 130px;

    @include breakpoint(tablet) {
        right: calc(10% + 20px);
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        width: 40px;
        height: 40px;

        @include breakpoint(desktop) {
            width: 60px;
            height: 60px;
        }

        + a {
            margin-left: 10px;
        }
    }

    img {
        max-width: 20px;
    }
}