.textblock {
    padding: 60px 20px;
    text-align: center;

    .body-casestudy &,
    .body-perfectgates & {
        border-bottom: 1px solid $orange;
    }

    h1 {
        width: 100%;
        text-align: center;

        @include breakpoint(tablet) {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    p {
        width: 100%;
        text-align: center;

        @include breakpoint(tablet) {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &:has(.textblock-btns) {
        
        p {
            &:last-of-type {
                margin-bottom: 30px;
            }
        }
    }
}

.textblock-btns {

    a {
        min-width: 150px;

        &:not(:first-of-type) {
            margin-left: 10px;
        }
    }
}