.textblock {
    padding: 60px 20px;
    text-align: center;

    .body-casestudy &,
    .body-perfectgates & {
        border-bottom: 1px solid $orange;
    }

    h1 {
        width: 100%;
        text-align: center;

        @include breakpoint(tablet) {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        @include breakpoint(desktop) {
            font-size: 30px;
            line-height: 36px;
        }

        @media(max-width:767px) {

            br {
                display: none;
            }
        }

        &:only-child {
            margin-bottom: 0;
        }

        .body-error & {
            font-size: 80px;
            line-height: 80px;

            @include breakpoint(tablet) {
                font-size: 150px;
                line-height: 150px;
            }
        }
    }

    p {
        width: 100%;
        text-align: center;

        @include breakpoint(tablet) {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &:has(.textblock-btns) {
        
        p {
            &:last-of-type {
                margin-bottom: 30px;
            }
        }
    }

    a[href^="tel"] {

        @include breakpoint(tablet) {
            pointer-events: none;
        }
    }
}

.textblock-btns {

    a {
        width: 200px;

        &:not(:first-of-type) {
            margin-top: 10px;

            @include breakpoint(phablet) {
                margin-top: 0;
                margin-left: 10px;
            }
        }

        @include breakpoint(phablet) {
            width: auto;
        }
    }
}

.contact-methods {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;

    @include breakpoint(tablet) {
        width: 80%;
        margin: 40px auto 0 auto;
    }

    @include breakpoint(desktop) {
        width: 900px;
    }

    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;

        @include breakpoint(tablet) {
            width: 32%;
        }

        img {
            max-width: 40px;
            margin-bottom: 20px;

            @include breakpoint(desktop) {
                max-width: 60px;
            }
        }

        p {
            font-weight: 600;
            margin-bottom: 10px!important;
            font-size: 14px;
            line-height: 14px;

            @include breakpoint(desktop) {
                font-size: 18px;
                line-height: 18px;
            }
        }

        a {
            color: $orange;
            text-decoration: underline;
            font-size: 12px;
            line-height: 12px;

            @include breakpoint(desktop) {
                font-size: 18px;
                line-height: 18px;
            }

            &:hover {
                text-decoration: none;
            }
        }

        a[href^="tel"] {

            @include breakpoint(tablet) {
                text-decoration: none;
                pointer-events: none;
            }
        }
    }
}