.btn {
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    padding: 15px 25px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;

    @include breakpoint(desktop) {
        font-size: 14px;
        line-height: 14px;
    }

    &:hover {
        text-decoration: none;
    }
}

.orange-outline {
    @extend .btn;
    border-color: $orange;
    color: $orange;

    &:hover {
        background-color: $orange;
        color: $white;
    }
}

.orange-solid {
    @extend .btn;
    border-color: $orange;
    background-color: $orange;
    color: $white;

    &:hover {
        background-color: transparent;
        color: $orange;
    }

    &:visited {
        border-color: $orange;
        background-color: $orange;
        color: $white;

        &:hover {
            background-color: $white;
            color: $orange;
        }
    }
}

.white-outline {
    @extend .btn;
    border-color: $white;
    background-color: transparent;
    color: $white;

    &:hover {
        background-color: $white;
        color: $black;
    }
}

.white-solid {
    @extend .btn;
    border-color: $white;
    background-color: $white;
    color: $black;

    &:hover {
        background-color: $black;
        color: $white;
    }
}

.default {
    color: $black;
}

.btn-rounded {
    border-radius: 30px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}