form {
    padding: 30px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"] {
    display: block;
    width: 100%;
    border-radius: 0;
    border: 1px solid #ccc;
    height: 50px;
    padding-left: 10px;
}

input[type="file"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 30px;
    background-color: $white;
}

select {
    width: 100%;
    border-radius: 0;
    padding-left: 10px;
    border: 1px solid #ccc;
    height: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('images/select-arrow.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: top 50% right 20px;
}

textarea {
    width: 100%;
    border-radius: 0;
    padding: 20px;
    border: 1px solid #ccc;
    height: 150px;
    font-family: $global-font;
    resize: none;
}

input[type="checkbox"] {
    margin: 0 3px 0 0;
    position: relative;
    top: 1px;
}

input[type="radio"] {
    margin: 0 3px 0 0;
    position: relative;
    top: 2px;
}

fieldset {
    padding: 20px;
    border: 1px solid $midgrey;

    &:not(:last-of-type) {
        margin-bottom: 30px;
    }
}

legend {
    padding: 15px 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}

label {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    color: $copy;
}

.is-checkboxes {

    label {
        width: 100%;
    }

    p {
        margin: 0;
        font-size: 14px;
        line-height: 14px;
        color: $black;
    }
}

.is-radio {

    label {
        width: 100%;
    }

    input[type="radio"] {
        &:not(:first-of-type) {
            margin-left: 5px;
        }
    }
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

button[type="submit"] {
    border-radius: 0;
    border: 1px solid $black;
    cursor: pointer;
    margin: 0;
}

input[type="submit"] {
    width: 150px;
    height: 50px;
    background-color: $orange;
    border-radius: 0;
    font-weight: 600;
    border: 1px solid $orange;
    color: $white;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background-color: $darkgrey;
        color: $white;
    }
}

.form-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    @include breakpoint(phablet) {
        margin-bottom: 20px;
    }

    .row50 {
        width: 100%;
        margin-bottom: 20px;

        @include breakpoint(phablet) {
            width: 49%;
            margin-bottom: 0;
            margin-right: 2%;

            + .row50 {
                width: 49%;
                margin-right: 0;
            }
        }
    }

    .row100 {
        width: 100%;
        margin-bottom: 20px;

        @include breakpoint(phablet) {
            margin-bottom: 0;
        }
    }

    small {
        display: block;
        
        @include breakpoint(phablet) {
            margin-top: 20px;
        }
    }

    .html-block {
        margin-bottom: 20px;

        @include breakpoint(phablet) {
            margin-bottom: 0;
        }
    }
}

.checkbox-inline {
    display: inline-block;
    width: 100%;
    color: $copy;

    > div {
        display: inline-block;
        width: 49%;
    }
}

.quote-form {
    background-color: $beige;
    padding: 60px 20px;

    .c-container {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
    }

    h4 {
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }

    form {
        padding: 0;
    }

    label {
        padding-right: 30px;
    }

    .is-checkboxes {
        margin-top: 5px;
    }

    input[type="checkbox"] {
        margin: 0 7px 10px 0;
    }

    .html-block {
        margin-bottom: 20px;
    }

    .form-row {
        
        &:last-of-type {
            justify-content: center;
        }
    }
}